.container{
    height:1000px;
    width:100%;
    display: flex; 
    background-color: #f6f6f6;       
  }
  img{
    height:300px;
    width:300px;
    margin-top: 200px;
position:sticky;
top:0px;
  }