*
{
    top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 5px;
    text-align: center;

}
*:first-letter
{
    text-transform: capitalize;
}
.link
{
    color:rgb(249, 249, 250);
    margin-top: 1px;
    margin-left: 8px;
    text-decoration:none;
}
.lin
{
    margin-top:0px;
    text-decoration:none;
    padding-top: 0px;
}
.link:hover
{
    color:#ccc;
}
.lin:hover
{
    background-color: #ccc;
}
.top
{
    margin: 0px;
    background-color: darkblue;
    position: sticky;
    top: 0;
    width: 100%;
}
.mycart
{
    margin-top: 0px; 
    margin-bottom: 0%;
    padding: 15px 0 15px 0;
    background: linear-gradient(lightblue,darkblue);
    width: 100%;
    color: white;
    opacity: 0.8;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-repeat: no-repeat;
    top: auto;
    margin: 0;
}
 
#address
{
    background:linear-gradient(to right, lightblue,darkblue);
    color:antiquewhite ;
    position: static;
    border-top: 2px black solid;
    padding-top: 15px;
    padding-bottom: 0px;
    margin: 0;
}

.images
{
    box-sizing: content-box;
    border: 3px black solid;
   
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    padding-bottom: 0;
    box-shadow:10px 10px 15px #464646;
    margin-top: 5px;
}
.image-border
{
    border: 1px whitesmoke solid;
    box-shadow:0 0 10px #ccc;
    margin: 0 30% 0 30%;
    padding-left: 10px;
}
h3
{
    cursor: pointer;
    text-decoration: underline;
    margin: 1px;
}
#imgg
{
    border: 5px rgb(15, 11, 11) solid;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    width: 20%;
    height: 20%;
    padding-bottom: 0;
    box-shadow:0 0 20px #484747;

}
#pp
{
    border-bottom: 2px black solid;
    padding: 1px;
    margin: 0 40% 0 40%;
    border-radius: 4px;
    margin-bottom: 1%;
}

.description
{
    margin:0 10% 0 10%;
}
.product-names
{
    margin-top: 2%;
}
