body {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} 
.container,
.outer-circle,
.outer-square,
.inner-circle,
.inner-square {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #5077FF;
    width: 500px;
    height: 300px;
    border: 15px solid black;
}

.outer-circle {
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 50%;
}

.outer-square {
    height: 180px;
    width: 180px;
    background-color: #5077FF;
}

.inner-circle {
    background-color: white;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.inner-square {
    height: 50px;
    width: 50px;
    background-color: #5077FF;
}

