* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #09223d;
}

/* Header styles */

#pageHeader {
  background-color: green;
  display: flex;
  height: max-content;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  padding: 10px;
  top: 0px;
}

#pageTitleContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#pageTitleContainer img {
  border: 2px solid white;
  height: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
}

#pageTitle {
  margin-left: 25px;
  color: white;
  font-weight: 500;
  font-size: 40px;
  border-bottom: 8px double white;
}

#headerButtons {
  width: 300px;
  height: 45px;
  display: flex;
  justify-content: space-around;
}

#addBook {
  color: green;
  cursor: pointer;
  align-content: center;
  padding: 7px;
  border-radius: 22px;
  background-color: white;
}

#category {
  background-color: white;
  padding: 8px;
  border-radius: 22px;
  cursor: pointer;
}

/* mainsection styles*/

#mainSection {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, auto);
  place-items: center;
  justify-content: center;
  align-items: center;
  column-gap: none;
  row-gap: 20px;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  border: 2px solid green;
  width: 190px;
  height: 220px;
  border-radius: 2px;
  margin: 5px;
  box-shadow: 0px 0px 5px rgb(185, 179, 179);
  padding: 10px;
  -webkit-margin-collapse: collapse;
  position: relative;
}

.book h3 {
  text-align: center;
  margin: 0px;
  height: max-content;
  font-size: 1.1em;
  color: green;
  position: absolute;
  font-weight: 500;
  top: 5px;
}

.lendButton {
  position: absolute;
  bottom: 7px;
  height: 2em;
  width: 6em;
  color: white;
  border: 2px solid white;
  background-color: green;
  font-weight: bold;
  border-radius: 5px;
}

.book p {
  text-align: left;
}

p b {
  font-weight: 400;
}

h5 {
  color: green;
  border: 2px solid green;
  padding: 3px;
  font-weight: 800;
  position: absolute;
  bottom: 40px;
}

/* Form Styles  */

#addBookDetails {
  display: none;
  flex-direction: column;
  background-color: white;
  border: green 3px solid;
  border-radius: 10px;
  color: green;
  font-size: 15px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: fit-content;
  row-gap: 7px;
  padding: 16px;
  margin-top: 20px;
  position: fixed;
  bottom: 30%;
  left: 35%;
  z-index: 1;
}

#formInputs {
  display: flex;
  flex-direction: column;
}

form input:hover {
  box-shadow: 2px 2px black;
}

#formButtonsContainer {
  display: flex;
  justify-content: space-between;
}

#formButtonsContainer button {
  color: white;
  padding: 4px;
  border-radius: 5px;
  background-color: green;
}

#refreshButton {
  cursor: pointer;
  height: 35px;
  aspect-ratio: 1;
}

/*categorise Container styles*/

.category {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: max-content;
  width: 100%;
  padding-top: 77px;
  justify-content: center;
  align-items: left;
  gap: 10px;
}

.category h2 {
  border-radius: 3px;
  text-align: center;
  color: white;
  background-color: green;
  min-width: 800px;
  margin-top: 10px;
  padding: 10px;
  align-self: center;
  position: absolute;
  margin-bottom: 10px;
  top: 0px;
  box-shadow: 10px 10px 7px rgb(184, 244, 145);
}