body{
    background-color: black;
 }

 .charmander-container{
   display:flex;
   border:2px solid red;
   height: 13vh;
   width:70vw;
   position:relative;
   top:20vh;
   margin-left:5%;
   margin-top:10%;
 }

 .charmander{
   margin:0px;
   height:100%;
   width:10%;
 
 }

 .charmander__2,.charmander__4,.charmander__6,.charmander__8{
   position: relative;
   bottom:95%;
 }
 .charmander__3,.charmander__5,.charmander__7,.charmander__9{
   position:relative;
   top:98%;

 }
 .charmander__10{
   position:relative;
   
 }