body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;
}
.container {
    display: grid;
    grid-template-areas:
        'header header header'
        'nav article article'
        'ads article article'
        'ads footer footer';
    grid-template-columns: 200px 500px;
    grid-template-rows: 75px 220px 50px 50px;
    gap: 10px;
    border: 1px solid black;
}

.header-section {
    grid-area: header;
    background-color: lightblue;
    padding: 20px;
}

.article-section {
    grid-area: article;
    background-color: lightblue;
    padding: 20px;
}

.nav-section {
    grid-area: nav;
    background-color: lightblue;
    padding: 20px;
}

.ads-section {
    grid-area: ads;
    background-color: lightblue;
    padding: 20px;
}

.footer-section {
    grid-area: footer;
    background-color: lightblue;
    padding: 20px;
}