*
{
    background-color: black;
    color: white;
}
.flex-container
{
    border: 1.5px solid white;
    width: 300px;
    aspect-ratio: 1;
    margin: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content:space-between;
}
.flex-items
{
    border: 1.5px solid red;
    width: 50px;
    aspect-ratio: 1;
}