*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    padding:10px ;
    background-color: white;
    width: 50%;
    margin: 0px auto;
    height: 70vh;
    margin-top: 15vh;
    display: grid;
    grid-template-columns: 62% 22% 14%;
    grid-template-rows:16% 70% 12%;
    gap: 1%;
    grid-template-areas: 
    "header header header"
    "article nav ads"
    "footer nav ads";
}
.container > *{
    background-color:rgb(204, 199, 199);
    padding: 20px;
}

.header{
    grid-area: header;
}
.article{
    grid-area: article;
}
.nav{
    grid-area: nav;
}
.ads{
    grid-area: ads;
}
.footer{
    grid-area: footer;
}