body{
    background-color: #000;
}
img{
    width: 50px;
    height: 50px;
}
.box{
    width: 600px;
    height: 600px;
    margin: auto;
    position: relative;
    top: 200px;
}
.container{
    position: relative;
}
.pokemon{
    position: absolute;
    top: 230px;
    left: 230px;
}
.one{
    border: 1px solid red;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 0px; 
}
.two{
    border: 1px solid red;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50px;
    top: 50px;
}
.two img{
    position: relative;
    top: 0px;
    left: 90%;
}
.three{
    border: 1px solid red;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 100px;
    top: 100px;
}
.three img{
    position: relative;
    top: 80%;
    left: 80%;
}
.four{
    border: 1px solid red;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 150px;
    top: 150px;
}
.four img{
    position: relative;
    top: 70%;
    right:0;
}
.five img{
    position: fixed;
    bottom: 0;
    left: 30px;
}