
body{
  background-color: black;
}
  .box{
    width:900px;
    height: 850px;
    position: relative;
    top:100px;
    left:300px;
background-color: black;
  }
  .container{
    border: 2px solid red;
    width:80%;
    height: 80%;
    box-sizing:content-box;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  img{
    height: 50px;
    width: 50px;
  }
  .one.pokemon{
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .two.pokemon{
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .three.pokemon{
    position: absolute;
    bottom:0px;
    right: 0px;
  } 
   .four.pokemon{
    position: absolute;
    bottom: 150px;
    left: 150px;
  }
  .five.pokemon{
    position: absolute;
    bottom: 0px;
    left:0px;
  }
  .six.pokemon {
    position:fixed;
    bottom: 0px;
    top:650px;
    left: 0px;
  }

