body{
    background-color: black;
}
.rectangle
{
    margin:100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5077ff;
    width: 650px;
    height: 480px;
}
.circle-1
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 450px;
    height: 450px;
    background-color: white;

}
.square-1
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 320px;
    background-color: #5077ff;
}
.circle-2
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: white;
}
.square-2
{
    width: 70px;
    height: 70px;
    background-color: #5077ff;

}