body{
    margin: 0;
}
.container{
    width: 100%;
    height: fit-content;
    display: flex;
    text-align: center;
}
.form{
    width: 30%;
    background-color: #0a1b22;
    padding: 32px 80px;
    color:#FFF;
}
.form h4{
    font-weight: 300;
}
.logo{
    width: 100% ;
    margin:16px;
}
a{
    text-decoration: none;
}
.link{
    color: #42a5f5;
}
.input-fields{
    height: 48px;
    background-color: #1d323b;
    color:#FFF;
    border-radius: 5px;
    border: none;
    width: 350px;
    display: block;
    margin: 16px;
    padding:16px;
    font-size: 16px;
}
.Forget-pass{
    a{
        color: #FFF;
    }
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    text-decoration: underline;
}
.buttons{
    background-color: #4cc373;
    box-sizing: border-box;
    font-size: 20px;
}
.social{
    box-sizing: border-box;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 24px;
        height: 24px;
        margin: 10px;
    }
}
.buttons:hover,.social:hover{
    opacity: 0.8;
}
.Facebook{
    background-color: #42a5f5;
    color: #FFF;
}
.white-border{
    border: 1px solid #FFF;
}
/* .input-fields:hover{
    border: 5px solid #162a32;

} */


.image{
    width: 70%;
    background-color: #1d323b;
    background-image: url("../assets/circles.f616af06.svg");
    background-size: cover;
    img{
        width: 40%;
        height: 70%;
        position: relative;
        top: 80px;
    }
}