body
{
    background-color: black;
}

.flex{
    display: flex;
    height: 600px;
    width: 600px;
    border: 2px solid white;
    justify-content: center;
    flex-wrap: wrap;
}

.item{
    border: 2px solid red;
    height: 100px;
    aspect-ratio: 1;
    color: white;
    font-weight: 900;
    font-size: 25px;
    align-self: center ;
}
#m2{
    align-self: flex-end;
}
