.head{
           border: 2px solid  #100C08;
           width: 350px;
           height: 200px;
           background-color: #100C08;
           top:5px;
           left:5px;
           right: 5px;
           bottom: 5px;
           border-radius: 10px;
           padding: 10px;
           margin-bottom: 10px;
           color: white;
           font-weight: bold;
           font-size: large;
           padding-bottom: 10px;
        }
        .bottom{
            border: 1px solid  #100C08;
            height: 700px;
            width: 350px;
            background-color:  #100C08;
            color:white;
            border-radius: 10px;
            text-align: center;
            font-weight: bold;
            left: 5px;
            right: 5px;
            top:5px;
            padding: 10px;
            margin-top: 10px;
        }
        .side{
            position: fixed;
        }
        .main{
            border: 2px solid  #100C08;
           width: 73%;
           height: 1600px;
           background-color: #100C08;
           top:5px;
           left:5px;
           right: 5px;
           bottom: 5px;
           border-radius: 10px;
           padding: 10px;
           margin-bottom: 10px;
           margin-left: auto;
        }
        .flex{
            display: flex;
        }
        body{background-color:black}
        .img{
            position: fixed;
            top: 0;
        }
        .home{
            margin-top: 80px;
        }
        .search{
            margin-top:30px ;  
        }
        .home-text{
            margin-left:1px;

        }
        .search-text{
        margin-left:1px;
        color: gray;
        }
        nav{
            width: 100%;
            height:70px;
            background-color:black;
            top:0;
            left:0;
            right: 0;
            display: flex;
            justify-content: flex-end;
        }
        .box{
            border: 1px solid white;
            width:80px;
            height:40px;
            background-color: white;
            color: black;
            margin-top: 15px;
            margin-right:20px; 
           border-radius:50px;
text-align:center;
place-content:center;

        }
           nav section a{
           color:black;
           font-size:20px;
           font-weight:bold;
           text-align;center;
           text-decoration:none;

}
nav a{
color:grey;
font-size:50px
font-weight:bold;
margin-right:20px;
margin-top:20px;
text-decoration:none;
} 
.container1{
border:1px solid  #100C08;
width:100%;
height:300px;
display:flex;
background-color:#100C08;
margin-top:30px;
}
.imagebox{
width:140px;
height:250px;
border:1px solid black;
margin:5px;
margin-left:9px;
background-color:black;
}
       
p{
color:white;
font-size:20px;
font-weight:bold;
text-align:center;
}  
h1{
color:white;
} 
 .img{
boder-radius:50%;
} 
.footer{
color:grey;
display:flex;
justify-content:space-between;
}
.category{
  border:1px solid  #100C08;
 width:100%;
height:200px;
font-weight:bold;
}
li{
list-style-type:none;
color:grey;
}
h2{
color:white;
marin-bottom:5px;
}
.hr{
border-top:1px solid grey;
width:100%;
}
.space{
margin-top:20px;
}
.side-box{
border:1px solid black;
width:100%;
height:150px;
background-color:BLACK;
color:white;
border-radius:20px;
}
h3
{
color:grey;
font-weight:bold;
}
.side-container{
border:1px solid white;
width:120px;
height:30px;
background-color:white;
color:black;
margin-top:20px;
margin-left:110px;
border-radius:20px;
place-content:center;
}
a {
color:white;
text-decoration:none;
font-weight:bold;
}
a:hover{
color:grey;
}
a:visited{
color:grey
}
