body{
 background-color: black;

}
.o1{
    margin: 10% auto;
    width:800px;
    height:600px;
    background-color:  rgba(56, 141, 238, 0.941);
    display:flex;
    justify-content: center;
    align-items: center;
}
.o2{
    background-color: white;
    height:500px;
    aspect-ratio: 1;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.o3{
    background-color: rgba(56, 141, 238, 0.941);
    width:71%;
    aspect-ratio: 1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.o4{
    background-color: white;
    width:70%;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
}
.o5{
    background-color: rgba(56, 141, 238, 0.941);
    width:40%;
    aspect-ratio: 1;
}