*{
    background-color:black;
}
.box
{
    width: 900px;
    height: 850px;
    position: relative;
    left:15px;
    top:20px
}
.container
{  
    margin: auto;
    border: 2px solid red;
    width:80%;
    height: 80%;
    box-sizing: border-box;
    position: absolute;
    top: 3rem;
    left:3rem;
    bottom: 3rem;
    right:3rem;
}
img
{
    width: 50px;
    height: 50px;
}  
.pokemon.one
{
    position: absolute;
    top:0px;
    left: 0px;
}
.pokemon.two
{   
    position: absolute;
    top:0px;
    right: 0px;
}
.pokemon.three
{
    position: absolute;
    bottom:0px;
    right: 0px;
}
.pokemon.four
{
    position: absolute;
    bottom:0px;
    left: 0px;
}
.pokemon.five
{
    position: absolute;
    top:150px;
    right: 150px;
}
.pokemon.six{
 position: fixed;
 bottom: 0px;
 left: 10px;
}