
      .container{
        justify-content: center;
        align-items: center;
        border: 3px solid red;
        height: 700px;
        width: 700px;
        margin: auto;
    }
      .container >.container{
        height: 550px;
        width: 550px;
      }
      .container >.container >.container{
        height: 400px;
        width: 400px;
    }
      .container >.container >.container >.container{
        height: 250px;
        width: 250px;
      }
      body{
        background-color: black;
      }
      .pokemon{
        position:relative;
      }
      img{
        height:75px;
        width: 75px;
      }
      .one{
        top: 0%;
        left:0%;
        }
      .two{
        top: 0px;
        left:87%;
      }
      .three{
        top: 81%;
        left:81%;
      }
      .four{
        top:70%;
        left:0%;
      }
      .five{
        left:35%;
      }
