#links {
    background-color:#991e66;
    /* background:linear-gradient(to right,#991e66,#b63fb4,#b63fb4,#991e66); */
    /* background-size: cover; */
    background-color: rgb(168, 89, 241);
    background:linear-gradient(to right,#e8349d,#b63fb4,#b63fb4,#e8349d);
    height: 90px;
    align-items: center;
    /* background-repeat: no-repeat; */
}
h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin-top: 0;
    background-color:#f7aef8;
    background-color: #ffc6ff;
}
 a{
    display: inline-flex;
    align-items: center;
    margin-left:6px;
    margin-right: 6px;
    color: rgb(255, 228, 254);
    text-decoration: none;
    font-weight:400;
    /* font-family: fantasy; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
}
#links a:hover
{
    font-weight: 700;
    color: #54c3ef;
}
.items
{  
    font-weight: 400;
    color:#e4629c;
}
.items:hover
{ 
    font-weight: 700;
    color:#710535;
}
#up,#home
{
    font-weight: 500;
    color:#ce7b85
}
#up:hover,#home:hover
{
    font-weight: 700;
    color:#700955
}
#profile-heading
{
    padding-top: 15px ;
    padding:2 15;
    font-size: larger;
    text-align: center;
}
h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(182, 24, 182);
}
strong{
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
color: #008060;
}
footer{
    background-color: rgb(168, 89, 241);
    background:linear-gradient(to right,#e8349d,#b63fb4,#b63fb4,#e8349d);
    /* background-repeat: no-repeat; */
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    color: white;
    width: 100%;
    position:relative;
    bottom: 0%;
}
html {
    background-image: radial-gradient(circle, #c33ff8, #c770ff, #ce96ff, #d8b7ff, #e5d7ff, #e7d8ff, #e8d9ff, #eadaff, #e3bbff, #e099ff, #e271ff, #e634fd);
    height: 100%;
    width: 100%;
}
#signin
    {
        color: red;
    }
    #signin:hover{
color: chartreuse;
    }
    #signup:hover
    {
        background-color: rgb(13, 232, 57);
    }
    b{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    p{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    }
    section
    {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
.mob,.boo,.lap,.ele,.fur,.fas,.bea,.toy
{
    box-sizing: border-box ;
    height: 500px;
    margin-bottom: 7px;
    box-shadow:0 40px #a1088d;
}
img:hover,#homes{
    /* border: 4px,rgb(233, 13, 200),solid; */
    box-shadow:0 0  29px #700955;
}
#profile
{
    /* border: 4px,rgb(233, 13, 200),solid; */
    box-shadow:0 0  29px #700955;
    margin-top: 3%;
    border-radius: 50%;
    height:250px;
}
.horizontal-line /*used in place of hr tag */
{
    border-width: 1.5px;
    border-style: solid;
    width:100%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    background-color: white;
    border-top-color: #bdb2ff;
    border-bottom-color: #ffffff;
}
.break-line/*used in place of br tag*/ 
{
    border: transparent;
    height:7px;
}
.bold{
    margin-top:none;
    margin-bottom: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}