#popupMsg{
    display: flex;
    width: 400px;
    margin:20% 40%;
    color: white;
    aspect-ratio: 1;
  }
.body-styling{
    background-color: black;
    color: white;
}
body{
    background-color: black;
    color: white;
    text-align: center;
    margin-left: 70px;
}
#pokemon-container{
    display: flex;
    gap: 20px;
    flex-direction:row;
    flex-wrap: wrap;
}
#pokemon-container div{
    border: 1px solid white;
    border-radius:20px;
    width: 140px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#pokemon-container img{
    width: 100px;
    aspect-ratio: 1;
    margin-left: 15px;
}