#navbar {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    position: relative;
    top: -8px;
    left: -8px;
    padding-right: 20px;
    position: fixed;
    border-bottom: 3px solid black;
    font-size: 50px;
}

#container {
    margin-top: 100px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    top: 100px;
    justify-content: space-around;
}

.box {
    border: 1px solid black;
    background-color: white;
    box-shadow: 0px 0px 3px;
    text-align: center;
    margin: 5px;
    border-radius: 20px;
    height: 300px;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 200px;
}

.load {
    display: flex;
    height: 200px;
    width: 100%;
    background-color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search{
    width: 200px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
}
.hide{
    display: none;
}