button a{
  text-decoration: none;
  color:black;
  background:transparent;
  text-align: center;
  cursor:pointer;
}
h1 {
  font-size: 50px;
  color: #222;
}

h2 {
  font-size: 46px;
  color: #222;
}
h3 {
  font-size: 27px;
  color: #222;
  text-align: center;
  margin-top: 25px;
}
h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
	   width: 100vw;
    
}
figure figcaption{
padding:5px;

}
.menu a{
 text-decoration: none;
 background: transparent;
color:black;
font-weight: 80px;
}
.menu{
  text-align: center;
  margin-top: -10px;
  font-size: 17px;
}
figure {
display:inline-block;
margin:10px;
}

figure figcaption a{
text-decoration: none;
 background: transparent;
color:black;
}
.box{
width:300px;
height;300px;
margin:60px auto 0;
text-align:center;
border:3px solid black;
padding:20px;
border-radius:70px 0 70 px 0;
}
.box p{
text-align:left;
font-weight:bold;
}
.box1{
width:600px;
height;300px;
margin:60px auto 0;
text-align:center;
border:3px solid black;
padding:20px;
border-radius:70px 0 70 px 0;
}
.box1 p{
text-align:left;
font-weight:bold;
}
header{
text-align: center;
}
nav{

text-align: center;
}
p{
font-size: 14px;;
color: #01150e;
margin: 15px 0 20px 0;
line-height: 20px;

}
*{

background-color:white;
font-family: Arial, sans-serif;
box-sizing: border-box;
}
#prodetails .proimg{

width: 15%;
height: 50%;
margin-right: 50px ;
margin-left: 70px ;
}
#prodetails{
display: flex;
margin-top: 50px;
  margin-bottom: 20px;
}
#prodetails .pro-details{
margin-left: 5px;
width: 50%;

}
#prodetails .pro-details h2{
font-size: 26px;
}
#prodetails .pro-details input{
width: 45px;
padding-left: 10px;
padding: 3px;;
font-size: 16px;
margin-right: 10px;
 
}
#prodetails .pro-details input:focus{
outline: none;
}
#prodetails .pro-details button{
background: #088178;
color: rgb(239, 233, 233);
text-align: center;
border-radius: 4px;
padding: 4px;
}
#prodetails .pro-details select{
margin-bottom: 10px;

}
footer{
text-align: left;
margin-left: 30px;
font-size: 17px;
font-weight: bold;
line-height: 20px;
}
#cont{
  display: flex;
  margin-left: 20px;
  
}
#cont .contact{
  font-size: 16px;
  line-height:15px;
 
}
#cont .about{
 
  margin-left:15px;
  margin-top: -5px;

}
#cont .about h4{
  margin-left: 40px;
}
#cont .about ul{
 
font-size: 14px;
}
#cont .about ul li{
 
  list-style-type: none;

}
#cont .contact ul{

  line-height: 20px;
 
}
#cont .contact ul li{
  list-style-type: none;
  margin-left: -45px;
  font-size: 14px;
}
.himg{
height: 100%;
width: 100%;
position: relative;
}
.himg img{
  
  width: 100%;
  
  }
  .himg .texts{
   
    position: absolute;
    left: 130px;
    top: 200px;
    background: transparent;
    }
    .himg .texts h2,h1,h4,p{
      background: transparent;
    }
    .himg .texts h2{
      margin-top:-25px ;
      color: rgb(16, 22, 4);

    }
    .himg .texts h1{
      margin-top:-25px ;
      color: blanchedalmond;

    }
    .himg .texts h4{
  color: rgb(16, 22, 4);
    }
    .himg .texts p{
      color: rgb(16, 22, 4);
    margin-left: 40px;
    margin-top: -25px;
    }
  