
body{
    background:  linear-gradient(to right,  #ebc375, #3E5151);
    color: lightcyan;
} 
   nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;    
        }
    
    a:hover{    
           
       text-shadow: 0  0 5px white; 
       color: black;
        
       }
       a{
        color: lightblue;
        text-decoration: none;

    }
    p.discription{
        display: block;
        width: 50%;
    }
    .hover{
        padding: 25px;
        
    }
    .font_size{
        font-size: 18px;
    }