h1{
    color: brown;
}
address{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-weight: 500;
    background-color: #ddc292;
    border-top: 1px solid black;
}
a{
    text-decoration:none;
    color:#e7d4b5;
    font-weight: bolder;
}
p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(#a79277,#ead8c0);
}
img{
    border-radius: 30px;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #6f4e37;
}
h2{
    color: #803d3b;
}
.dm{
    margin: 30px 15% 8% 15%;
    border: #6f4e37 3px dotted;
    background: linear-gradient(#a0937D,#e7d4b5);
    box-sizing: border-box;
    -webkit-margin-collapse: collapse;
    padding-top: 20px;
}
#head{
    border-bottom: 1px black solid;
    margin-top: 30px;
    width: 100%;
    display:block;
    position:sticky;
    top:0px;
    background: #a79277;
}
nav{
    word-spacing: 10px;
}
#logo{
    border-radius: 300px;
    margin: 25px;
}
#top{
    display: block;
}





