
*{
    color: white;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: rgb(8, 8, 8);
    height: 90px;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    
    padding: 0 10px;
}

nav .search{
    margin-right: 10px;
    background-color:#0e9a31 ;
    height: 34px;
    width: 38px;
    border-style: none;
    border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
}
nav img{
    margin-left: 90px;
    height: 50px;
    width: 170px;
}

.hcont {
    margin-left: auto;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
   
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

nav input {
    text-align: left;
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    background-color:transparent;
    color: black;
    padding-right: 30px;
    height: 20px;
}

body h1 {
    text-align: center;
    letter-spacing: 4px;
}

.headings {
    text-align: center;
    margin: 20px 0;
}

.moviescont {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    color: black;
    margin: 10px;
 
    flex-basis: 18%;
    text-align: left;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    width: 200px;
    font-size: small;
}

.movie img {
    max-width: 100%;
    height: auto;
}
.movie p {
    width: 100%;
}
#search{
    margin-left: -2px;
 
}
.mdet{
    width: 97%;
    margin: 20px;
    padding: 20px;
    gap: 4px;
    
    height: 300px;
    display: flex;
    line-height: 30px;
    margin-left: 90px;
   


}
.mdet .mtexd {
    height: 100%;
    width: 35%;
  
    padding-left:20px;
    margin-left: 10px;
    text-align: left;


 
}
.bg{
   font-size: 13px;
}
.bg h3{
    font-size: 20px;
}
.mtexd i{
    color: white;
    font-family:Arial, sans-serif;
    text-transform: capitalize;
    font-size: 13px;
    
}
.mtexd button{
    height: 38px;
    width: 90px;
    border-radius: 7px;
    border-style: none;
    margin-right: 20px;
}
.download
{
    background-color: rgb(59, 170, 59);
}
.trailler{
    background-color: rgb(46, 46, 46);
}
.foot{
  color: #0e9a31;
}
.plot{
    color: green;
}
.headings p{
    width: 500px;
    margin-top: 30px;
    margin-left: 33%;
}
.footline1{
    margin-left: 40px;
   
   
}
.footline2{
  margin-right: 40px;
}
footer {
    background-color: rgb(8, 8, 8);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.nextline{
    margin-left: 0px;
}
.mtexd{
    position: relative;
    bottom: 25px;
}
nav input:focus {
    background-color: white;
  
}
.elecont{
    height: 370px;
    width: 530px;
    display: flex;
    justify-content: space-around;
    background-color: #ccc;
    align-self: center;
}
.buttonsu{
    margin-top: 54px;
}
.mtexd p,h{
    margin-bottom: 20px;

}
