
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, sans-serif;
        box-sizing: border-box;
        color: white;
        background-color: black;
        text-decoration: none;

}

.elecont{
    height: 370px;
    width: 660px;
    display: flex;
    background-color: #ccc;
   display:flex;
   justify-content: center;
   text-align: center;
   background-color: rgb(20, 20, 20);
   border-radius: 10px;
 




}
.elecont img{
    height: 50px;
    width: 170px;
    margin-top: 30px;
}
.elecont p{
    font-size: large;
    width: 480px;
    line-height: 29px;

}
.enter{
    height: 40px;
    width: 140px;
    background-color: #0e9a31;
    border-radius: 8px;
    border-style: none;
    margin-top: 10px;
    margin-bottom: 40px;
    color: white;
    font-size: large;
    font-weight: 35px;
}
.infoitem{
    margin-bottom: 29px;
    margin-top: 15px;
}