body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
}


.container{
    display: grid;
    height: 500px;
    width: 800px;
    gap: 5px;
    grid-template-columns:120px 150px 2fr;
    grid-template-rows: 70px 1fr 80px 70px;
}
.header{
    padding: 10px 20px;
    font-size: large;
    grid-column: 1/4;
    background-color: lightblue;
}
.artical{
    grid-area: 2/2/4/4;
    background-color: lightblue;
    padding: 10px 20px;
    font-size: large;
}
.nav{
    grid-row:2/3 ;
    background-color: lightblue;
    padding: 10px 20px;
    font-size: large;
}
.ads{
    grid-row: 3/5;
    background-color: lightblue;
    padding: 10px 20px;
    font-size: large;
}
.footer{
    grid-column: 2/5;
    background-color: lightblue;
    padding: 10px 20px;
    font-size: large;
}