*{
  padding: 0px;
  margin: 0px;
}

header{    
    display: flex;
    position: sticky;
    top: 0px;
    height: 10vh;
    background-color: rgb(241, 223, 223);
}
header h1{
  margin-top: 10px;
  margin-left: 5%;
}
header div{
  margin-left: 60%;
  margin-top: 15px;
}
#search{
  height: 30px;
  border-radius: 10px;
  
}
#container{  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}
.detail{
  padding: 5px;
  width: 150px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.detail p{
  padding: 5px;
}
