body {
  background-color: black;
  color: white;
}

.container {
  height: 600px;
  width: 600px;
  border: 1px solid white;

  margin: 10% auto;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid red;
}

.end {
  align-self: flex-end;
}
