*
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
.headsect
{
    display: flex;
    position: absolute;
    margin-left: 30px;
    height: 100px;
    width: 750px;
    font-size: 12px;
}

.nav-1
{
    margin-top: 20px;
}
.nav-1 a
{
    font-size: 15px;
    color: rgb(35, 243, 3);
}
.navlogin
{
    position: absolute;
    margin-right: 30px;
    margin-top: 10px;
    margin-left: 760px;
    gap: 3px;
    color: white;  
}
.navlogin div{
    padding: 5px;
  
}
.navlogin a
{
    color: white;
}
 /* .head-sect a{
    height: 200px;
    width: 20px;} */
   


.slider
{
    width: 750px;
    position: absolute;
    display: flex;
    margin-top: 100px;
}
#latestText
{
    color: white;
    background: linear-gradient(white,rgb(0, 174, 255));
    top: 10px;
}
.LATEST
{  
    position: absolute;
    display: flex;
    margin-top: 370px;
   
    height: 280px;
    width: 1080px;
    border: 1px solid red;
    
}
.LATEST div{
    height: 150px;
    background:linear-gradient(rgb(5, 233, 249),white);
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 12px;
    gap: 10px;
    border: 1px solid gray;
}
.LATEST a:hover{
    text-decoration: none;
}
#img1
{
    height: 100px;
    width: 190px;
    display: flex;
    position: absolute;
    top: 0;
    
}   
#img2
{   width: 180px;
    height: 100px;
    display: flex;
    position: absolute;
    top: 0;
    margin-left:195px ;
}   
#img3
{ height: 100px;
    width: 160px;
    display: flex;
    position: absolute;
    top: 0;
    margin-left:380px ;
}   
#img4
{ height: 100px;
    width: 140px;
    display: flex;
    position: absolute;
    top: 0;
    margin-left:550px ;
}   
#img5
{ height: 100px;
    width: 120px;
    display: flex;
    position: absolute;
    top: 0;
    margin-left:700px ;
}   
#img6
{
    height: 100px;
    width: 120px;
    display: flex;
    position: absolute;
    top: 120px;
    margin-left:400px ;
}   
#img7
{   height: 100px;
    width: 120px;
    display: flex;
    position: absolute;
    top: 120px;
    margin-left:530px ;
}   
#img8
{   height: 100px;
    width: 120px;
    display: flex;
    position: absolute;
    top: 120px;
    margin-left:660px ;
}   
#fixed
{
    display: flex;
    position: fixed;
    height: 500px;
    width: 160px;
    margin-left: 880px;
    margin-top: 200px;
    background-color: rgb(194, 233, 176);
    border: 1px solid gray;
    font-size: 12px;
}
.bodysection
{
    display: flex;
    position: absolute;
    margin-top: 700px;   
}
.bodysection h1{
   
    top: 10px;
    margin-left: 10px;
}
.bodysection div
{
    height: 200px;
    width: 500px;
    position: absolute;
    margin-top: 60px;
    margin-left: 300px;
    
}
#affiliated
{
    display: flex;
    flex-direction: column;
    line-height: 35px;
    margin-left: 450px;
    height: 300px;
    width: 400px;
}
#affiliated p{
    font-weight: 700;
}
#results1,#results2,#results3
{
    /*  */
    justify-content: space-around;
    border: 1px solid gray;
    overflow-x: hidden;
    height: 290px;
    top: 1px;
    width: 260px;
    margin-top:0;
    background: linear-gradient(white,rgb(88, 123, 188));
}
#results1 ul,#results2 ul,#results3 ul
{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    line-height: 35px;
    font-weight: 700;
    font-size: 18px;
}
#results1
{
    margin-left: 10px;
}
#results2
{
    margin-left: 310px;
}
#results3
{
    margin-left: 620px;
}
#Welfare1
{
    justify-content: space-around;
    border: 1px solid gray;
    overflow-x: hidden;
    height: 290px;
    margin-left: 30px;
    top: 1px;
    width: 200px;
    margin-top:0;
    background: linear-gradient(white,rgb(88, 123, 188));
}
#Welfare1 p
{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    line-height: 35px;
    font-weight: 700;
    font-size: 18px;   
    color: red;
    margin-top: 30px;
}
#welfare1 p:hover
{
    
}
.footer
{
    display: flex;
    position: absolute;
    margin-top: 1020px;
}
.footer nav
{
    display: flex;
    width: 200px;
    position: absolute;
    top: 45px;
    border: 1px solid gray;
    left: 80px;
}
.footerR
{   
    
    top: 0;
    margin-left: 400px;
}
.footerR img{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 600px;
    top: 120px;
}
.APcm
{
    display: flex;
    position: absolute;
    margin-top: 1120px;
    margin-left: 750px;
}
