body{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 700px;
    width: 700px;
    border: 2px solid white;
}

div{
    height: 120px;
    width: 120px;
    border: 2px solid red;
    font-size: 30px;
}
