.pagelayout{
       border: 1px solid rgb(179, 179, 179);
       display: grid;
       width: 100%;
       aspect-ratio: 2;
       gap: 10px; 
       grid-template-areas: 'head head'
                            'nav article'
                            'ads article'
                            'ads footer';
      grid-template-columns: 1fr 6fr;
      grid-template-rows: 1fr 3fr 2fr 1fr; 
      }                     
      .color{
        background-color:#c9e1f8;                   
      }
      .head{
        grid-area: head;
      }
      .article{
        grid-area: article;
      }
      .nav{
        grid-area: nav;
      }
      .ads{
        grid-area: ads;
      }
      .footer{
        grid-area: footer;
      }