*{
    padding: 0%;
    margin: 0%;
   box-sizing: border-box;
   font-family: sans-serif;
}
body{
    background-color: #f1f2f4;
}
.search{
    width: 20px;
    background: transparent;
    margin-right: 20px;
}
.form{
    padding: 10px;
    border-radius: 8px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    margin-left: 40px;
    width: 560px;
}
.form input {
    font-size: 15px;
    outline: none;
    border: none;
    background: transparent;
}
.header{
    display: flex;
    padding: 16px;
    align-items: center;
    margin-bottom: 5px;
    background-color: #ffffff;
    width: 100%;
    position: fixed;
}

.cart{
    margin-left: 50px;
    display: flex;
    align-items: center;
    width:fit-content ;
}
.cart p{
    font-size: 18px;
    font-family: sans-serif;
}
.cart img{
    width: 30px;
    margin-right: 5px;
}
.profile{
    margin-left: 50px;
    display: flex;
    align-items: center;
    width:fit-content ;
}
.profile p{
    font-size: 18px;
    font-family: sans-serif;
}
.profile img{
    width: 30px;
    margin-right: 5px;
}
.store{
    margin-left: 50px;
    display: flex;
    align-items: center;
    width:fit-content ;
}
.store p{
    font-size: 18px;
    font-family: sans-serif;
}
.store img{
    width: 30px;
    margin-right: 5px;
}
.option{
    margin-left: 50px;
    display: flex;
    align-items: center;
    width:fit-content ;
}
.categorys{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 20px 20px;
    padding: 10px 20px;
    background-color: white;
}
.categorys div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top-offers{
    display: flex;
    height: fit-content;
    margin: 0px 20px;

}
.top-offers img{
    width: 100%;
}
.container{
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
}
.deals-on-electronics{
    margin: 10px 20px;
    background-color: white;
}
.products{
    display: flex;
}
.deals-on-electronics img{
    width:100%;
   padding: 10px;
}
.products div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:200px;
    height: 100%px;
    align-items: center;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid gray;
}
.deals-on-electronics h1{
    margin-left: 20px;
}
.container aside image{ 
    padding: 10px;
    width: 200px;
}
.container aside{
    height: 100%;
    width: 200px;
}

footer{
    background-color: #212121;
}
.top-deals-on-fashion{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
}
.top-deals-on-fashion div{
    border: solid 1px gray;
    width:200px ;
    height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.top-deals-on-fashion div img
{
    width: 80%;
    height: 70%;
}
.fashion-wrap{
    background-color: white;
    display: flex;
   flex-direction: column;
   margin: 0px 20px;
}
.fashion-wrap h2{
    margin-left: 20px;
}
.container-div{
    display: flex;
    box-sizing: content-box;
    padding: 50px;
    justify-content: center;
}
.left-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    border-right: 1px solid #454d5e;
    padding-right: 40px;
    gap: 30px;
}
.right-div{
    display: flex;
    justify-content: center;
    padding-left: 40px;
    gap: 30px;
}
.container-div span{
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 12px;
}
.container-div p{
    color: white;
    font-size: 12px;
    font-weight: bolder;
}
.social img{
margin-left: 20px;
}
.deals-on-electronics img:hover{
    transform: scale(1.1);
}
.top-deals-on-fashion div img:hover{
    transform: scale(1.08);
}
.empty{
    height: 90px;
}