#head-container {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  color:black;
  height:80px;
  width:auto;
  position:sticky ;
  top:0px;
  background-color: white;
}

#main-container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height:85%;
}

.div-container {
  text-align: center;
  height:270px;
  border:2px solid black;
  width: 130px;
  word-wrap: break-word;
  margin:3px;
}
.loader{
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}