body{
    margin: 30px auto;
    width: 800px;
    height: 700px;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    'header header header'
    'article nav ads'
    'footer nav ads';
    grid-template-columns: 1fr 15% 15%;
    grid-template-rows: 80px 1fr 80px;
}

.page_contents{
    background-color: lightgray;
}

#page_header{
    grid-area: header;
}

#main_article{
    grid-area: article;
}

#nav_bar{
    grid-area: nav;
}

#page_ads{
    grid-area: ads;
}

#page_footer{
    grid-area: footer;
}