 *{
                margin: 0%;
                padding: 0%;
            }
            aside{
                overlay:none;
                height:100%;
                width:fit-content;
                border-right: 1px solid rgb(182, 176, 176);
                position: fixed; padding:22px;
            }
            .icon1:active{
                content: url(homeic.png);
            }
            .icon{
                height: 25px;width:25px;object-fit: fill;
                mix-blend-mode: darken;
                margin-bottom: 26px;
                box-sizing: border-box;
            }
            #k{
                height:max-content;
               margin-top:60px;
               justify-content: space-between;
               gap:1vh;
            }
            #g{
                
                overflow-y: scroll;
            }
            .post{
                height:600px;
                width:400px;
                margin-bottom: 150px;
                box-sizing: border-box;

            }
            .reel{
                background-color: black;
                object-fit: cover;
                aspect-ratio: 1;
            }
            .post #d{
                border-radius: 50%;
                box-sizing: border-box;
                 border:2px solid rgb(233, 21, 91);
               border-bottom: 1px solid rgb(162, 160, 160);
        
            }
            span{
                margin-bottom: 5px;
                margin-right: 30px;
                
            }
            .more{
                font-size: 20px;
                font-weight: 600;
                margin-left: 50%;
                      }
            video{
                border-top: 1px solid rgb(182, 176, 176);
                
            }
            textarea{
                width:500px;
                border:1px solid white;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            textarea:focus
            {
                
                border:2px solid white;
            }
            .like{
                height: 25px;
                width:25px;
                object-fit: cover;
                
            }
            header{
                width:550px;
                height: max-content;
                display: inline-flex;
                overflow-x: scroll;
                gap:10px;
                scrollbar-width: none;           }
            .story{
                height:50px;
                width:50px;
                
                border-radius: 50%;
                border:3px solid rgb(245, 52, 165);
            }
            .story:hover{
                height:14vh;
                width:7vw;
                border:4px dotted rgb(245, 52, 165);
            }
            .like1:hover{
                content:url('../assets/like1.png');
                
            }
            .icon1:active{
                content:url('../assets/homeic.png');
            }
            .icon3:active
            {
                content:url('../assets/explore1.png');
            }
            .icon4:active
            {
                content:url('../assets/reels1.png');
                
            }
            .icon5:active
            {
                content:url('../assets/messagee1.jpg');
                
            }
            .icon6:active
            {
                content:url('../assets/like1.png');
                
            }
            .like4:hover{
                content: url('../assets/saves.png');
            }
          