*{
    margin: 0px;
    padding: 0px;
}
body{
   height: 100vh;
   background-color:rgb(248, 244, 244);
  
}
#logo{
    width: 110px;
    margin-top: 20px;
    margin-left: 60px;
}
.nav{
   width: 100%;
   display: flex;
}
.head{
   margin-left: 40px;
margin-top: 30px;
}
.products:hover{
   transition: .2s ease;
   color: blue;
}
.products{
   text-decoration: none;
color: black;
margin-left: 35px;
font-family: 'arial';
 }
 .data{
   margin-left: 70px;
   margin-top: 30px;
}  
.icon{
  padding: 30px;
  color: black;
} 
.icon:hover{
   color: blue;
}
#foldpro{
  width: 100%;
  height: 450px;
  margin-top: 20px;
}
.container1{
   box-sizing: border-box;
   width: 100%;
   height: 250px;
   border: 1px solid black;
  border: none;
   margin-top: 10px;
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
   align-items: center;
}
.details{
  
   width: 280px;
   height: 200px;
   border: 1px solid black;
   border: none;
   display: flex;
  align-items:center;
  justify-content: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  background-color: white;
  transition: .4s ease;
}
.details:hover{
   box-shadow: 0px 10px 10px rgba(208, 198, 198, 0.7);
   
}
.details img{
   width: 150px;
   height: 150px;
   margin-left: 70px;
   margin-top: 20px;
}
.details p{
   margin-top: 10px;
   font-family:arial ;
   font-size: 25px;
   text-align: center;
}
.container2{
  margin-left: 30px;
  cursor: pointer;
  margin-top: 20px;
}
#new{
   font-size: 30px;
   font-family: 'arial';
}
#gif{
   border-radius: 20px;
   margin-top: 20px;
}
.container3{
 
   display: flex; 
   flex-direction: row;
   justify-content: center;
   justify-content: space-evenly;
   width: 100%;
   height: 400px;
   border: 1px solid black;
   border: none;
   margin-top: 10px; 
}
.header{
  margin-top: 35px;
  margin-left: 30px;
  font-size: 30px;
  font-family: arial;
  
}
.tseries,.vseries,.yseries,.iqoo{
   width: 280px;
   height: 390px;
   border: 1px solid black;
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 15px;
   background-color: white;
   border-radius: 15px;
   border: none;
   transition: .4s ease;
}
.tseries:hover{
   box-shadow: 0px 15px 10px rgba(208, 198, 198, 0.7);
}
.vseries:hover{
   box-shadow: 0px 15px 10px rgba(208, 198, 198, 0.7);
}
.yseries:hover{
   box-shadow: 0px 15px 10px rgba(208, 198, 198, 0.7);
}
.iqoo:hover{
   box-shadow: 0px 15px 10px rgba(208, 198, 198, 0.7);
}
.tseries h2{
   font-family: arial;
}
.iqoo h2{
   font-family: arial;
}
.ram{
   font-size: 20px;
   font-family: arial;
 margin-top: 5px;
}
.prizes{
   font-size: 20px;
   margin-top: 30px;

}
.prize1{
   color: red;
   font-size: 25px;
   font-family: arial;
}
.prize2{
   font-family: arial;
}
.container4,.container6{
   display: flex;
   flex-direction: row;
   justify-content: center;
   justify-content: space-evenly;
   width: 100%;
   height: 400px;
   border: 1px solid black;
  border: none;
   margin-top: 10px;
}
.vseries h2{
   font-family: arial;
}
.container5{
   display: flex;
   flex-direction: row;
   justify-content: center;
   justify-content: space-evenly;
   width: 100%;
   height: 400px;
   border: 1px solid black;
   border: none;
   margin-top: 10px;
}
.image{
   height: 200px;
   margin-top: 35px;
}
.yseries h2{
   font-family: arial;
}
#review{
   border-radius: 20px;
   margin-top: 20px;
   margin-left: 40px;
}
.container7{
   width: 100%;
   height: 200px;
   margin-top: 50px;
   background-color: white;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   justify-content: space-around;
   cursor: pointer;
}
.end{
   width: 220px;
   height: 200px;
   border: 1px solid black;
   border: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.end img{
   height: 60px;
  
   margin-top: -30px;
}
.help{
   color: gray;
   font-family: arial;
}

.second{
   background-color: rgb(44, 42, 42);
   width: 100%;
   height: 550px;
   display: flex;
   flex-direction: row;
}
.second div{
   width: 200px;
margin-top: 80px;
}
div h3{
   color: white;
   font-weight: lighter;
   font-family: arial;
}
.second a{
  display: inline-block;
  width: 200px; 
 
  text-decoration: none;
  color: rgb(140, 131, 131);
  margin-top: 15px;
  font-family: arial;
}
.second a:hover{
   color: blue;
}
.popular{
   margin-left: 70px;
}
.contact a{
   margin-left: 20px;
}
.footer{
   width: 100%;
   height: 60px;
   background-color:rgb(44, 42, 42) ;
   color: rgb(169, 163, 163);
   display: flex;
   justify-content: center;
   align-items: center;
   border-top: 1px solid gainsboro;
}