.parent{
    height:32px;
    width:280px;
    background-color: black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border:1px solid red;

   }
   .charmander1 {
    position: relative;
    left: 30px;
   }
   .charmander2 {
    position: relative;
    left: 50px;
   }
   .charmander3 {
    position: relative;
    left: 70px;
   }
   .charmander4{
    position: relative;
    left: 90px;
   }
   .charmander7 {
    position: relative;
    left: 55px;
   }

   .charmander8 {
    position: relative;
    left: 80px;
   }
   .charmander9 {
    position: relative;
    left: 100px;
   }
   .charmander10 {
    position: relative;
    left: 125px;
   }
body{
background-color: black;
}