
    body {
      display: flex;
      justify-content: center;

    }

    .layout {
      display: grid;
      height: 350px;
      width: 1000px;
      grid-template-columns: repeat(12 8.3%);
      grid-template-rows: repeat(4 25%);
      row-gap: 10px;
      column-gap: 10px;
      text-align: center;

    }

    .item1 {
      background-color: rgb(191, 225, 238);
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: 13;

    }

    .item2 {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column: span 6;
      background-color: rgb(191, 225, 238);
    }

    .item3 {
      grid-row-start: 2;
      grid-column-start: 7;
      grid-column: span 6;
      background-color: rgb(191, 225, 238);
    }

    .item4 {
      grid-row-start: 3;
      grid-column-start: 1;
      grid-column: span 4;
      background-color: rgb(191, 225, 238);
    }

    .item5 {
      grid-row-start: 3;
      grid-column-start: 5;
      grid-column: span 4;
      background-color: rgb(191, 225, 238);
    }

    .item6 {
      grid-row-start: 3;
      grid-column-start: 9;
      grid-column: span 4;
      background-color: rgb(191, 225, 238);
    }

    .item7 {
      grid-row-start: 4;
      grid-column-start: 1;
      grid-column: span 3;
      background-color: rgb(191, 225, 238);
    }

    .item8 {
      grid-row-start: 4;
      grid-column-start: 4;
      grid-column: span 3;
      background-color: rgb(191, 225, 238);
    }

    .item9 {
      grid-row-start: 4;
      grid-column-start: 7;
      grid-column: span 3;
      background-color: rgb(191, 225, 238);
    }

    .item10 {
      grid-row-start: 4;
      grid-column-start: 10;
      grid-column: span 3;
      background-color: rgb(191, 225, 238);
    }

    div {
      height: 80px;
      font-size: 70px;
      font-weight: bold;

    }