body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    padding-bottom: 20px;
}

.navflex{
   display:flex;
justify-content: space-between;
   border-bottom: 2px solid black;
   font-size: larger;
}
.navflex1{
    display:flex;
    justify-content: space-around;
    width:50%;
}
.navflex2{
    display:flex;
    flex-direction: row-reverse;
    width:20%;
    justify-content: space-around;
}

.fi {
  font-weight: bolder;
  padding: 10px;
}

.pro{
    background-color: blue;
    color: aliceblue;
    border-radius: 20px;
 }
.login{
    background-color:honeydew;
    color:blue; 
    border-radius: 90px; 
   border-color: transparent;
   font-size: 15px;

 }
 .signup{
    background-color: blue;
    color:honeydew; 
    border-radius: 90px; 
   border-color: transparent;
   font-size: 15px;
 }
 .container{
    display: flex;
    padding: 25px;
   justify-content:space-between;
   border-bottom: 2px solid rgb(169, 171, 174);

}
.fil{
    display: flex;
    width: 10%;
    border: 2px solid gray;
    border-radius:25px;
    justify-content: center;
}

 .filter{
 background-color: transparent;
justify-self:center;
 font-size:larger;  
    border-color: transparent;
    justify-content: center ;
 
 }
 .ser{
    display: flex;
    width: 70%;
    font-size:larger;
    justify-content: space-between;
    border: 2px solid gray;
    border-radius:25px;
    background-color: aliceblue;
    padding: 5px;
}
 .search{
  
   padding: 2px;
 }
    

 .searchi{
   border: 2px solid gray;
   border-radius:25px;
   width: 20%;
   text-align: center;
   background-color: white !important;
   
    
    }

.recom{
    width: 15%;
    font-size: larger;
    border: 3px solid gray;
    border-radius:25px;
    text-align: center ;
    padding-top: 5px;
}
.struct{    
    border:1px solid aliceblue;
    padding: 10px;
    width: 25%;
    box-sizing: border-box;
    border-radius: 10px;
    gap: 0px;
    font-weight: 800;
}
.ere{
    display: flex;
    padding-top: 10px;
    
}
.struct img{
    width: 100%;
    height: auto;
}
.msg{
 display: inline; 
 float: inline-end;  
}

footer{
    padding-top: 10px;
     font-family: Arial, Helvetica, sans-serif;
     background-color: black;
     color: white;
}
.hold{
    display: flex;
    padding:20px;
    justify-content: space-around;
}
