body {
    background-color: black;
    height: 100vh;
}
body,
.container{

    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    border: 1px solid white;
    height: 300px;
    width: 300px;
}

.box {
    border: 1px solid red;
    color: white;
    height: 50px;
    width: 50px;
    font-size: 18px;
}
