body{
    background-color: black;
}
.recbox{
    border:1px solid red;
    margin:20% auto;
    width:fit-content;
}
img{
    width:45px;
    aspect-ratio: 1;
}
.top_positioned{
    position: relative;
    bottom:45px;
}
.bottom_positioned{
    position:relative;
    top:50px;
}