
.Container{
    display: grid;
     height:40vh;
     width: 100vw;
     /*for allignment take lcm of 1 2 3 4 (12) */
     grid-template-areas: 
     "box box box box box box box box box box box box "
     "box2 box2 box2 box2 box2 box2 box3 box3 box3 box3 box3 box3"
     "box4 box4 box4 box4 box5 box5 box5 box5 box6 box6 box6 box6"
     "box7 box7 box7 box8 box8 box8 box9 box9 box9 box10 box10 box10" ;  
     grid-gap: 10px;
  grid-template-rows: repeat(4,1fr);
  grid-template-columns: repeat(12,1fr);
  }
  .box, 
  .box2,
  .box3, 
  .box4 , 
  .box5 ,
  .box6,
  .box7,
   .box8,
   .box9, 
   .box10
  {
    background-color: lightblue;
    text-align: center;
    padding: 40px;
    font-size: 30px;
   
  }

     .box{
       grid-area:box;
     }
     .box2{
        grid-area: box2;
       }
       .box3{
        grid-area: box3;
       }
       .box4{
        grid-area: box4;
       }
       .box5{
        grid-area: box5;
       }
       .box6{
        grid-area: box6;
       }
   .box7{
    grid-area:box7 ;
   }
   .box8{
    grid-area:box8 ;
   }
   .box9{
    grid-area:box9 ;
   }
   .box10{
    grid-area:box10 ;
   }
 
 
