body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f0f0f0;
  padding: 020px;
  text-align: center;
  position: sticky;
  top: 0px;
}

#pokemon-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background: linear-gradient(90deg, rgba(250, 214, 29, 1), rgba(225, 151, 32, 1), rgba(246, 45, 20, 1), rgba(129, 30, 9, 1), rgba(0, 0, 0, 1));

  margin: 40px;
}

.pokemon-card {
  background-color: #ffffff;
  border: 2px solid #6c6c6c;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: 250px;
  margin: 25px;
}

.pokemon-card img {
  width: 150px;
  aspect-ratio: 1;
  margin-bottom: 10px;
  margin-left: 50px;
}

.pokemon-card h2 {
  margin-top: 0;
}

.pokemon-card p {
  margin-bottom: 10px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.loader {
  border: 7px solid #f3f3f3;
  border-top: 7px solid orange;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#searchBar{
  border: 1px solid #f3f3f3;
  padding: 6px;
  font-size: large;
  color: black;
}

#searchButton{
  border: 2px solid rgba(225, 151, 32, 1);
  border-radius: 4px;
  padding: 6px;
  margin-left: 30px;
}

#searchButton:hover{
background-color:  rgba(250, 214, 29, 1);
}

#searchBar:focus{
  border: #6c6c6c;
}