body
{
    background-color: black;
    color: white;
}
.container
{
    display: flex;
    border: 2px solid white;
    margin: 40px;
    height: 650px;
    aspect-ratio: 1;
    flex-direction: column;
    justify-content: space-between;
}
.flex
{
    display: flex;
}
.box
{
    border: 3px solid red;
    height: 110px;
    aspect-ratio: 1;
    font-size: 30px;
}
.box1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#box2
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}