*{
    margin: 0px;
    padding: 0px;
}
h1{
    background-color: rgb(91, 88, 88);
    padding: 10px;
    color: white;
}
.nav{
     background-color: rgb(191, 186, 186);
     display: flex;
     justify-content: space-around;
     padding: 20px;
}
div a{
    text-decoration: none;
    font-size: 20px;
   color: black;
   font-family: sans-serif;
   padding: 15px;
}
 .nav a:hover {
    background-color: rgb(214, 210, 210);
    color:rgb(1, 38, 38);
}
.products a:hover {
    background-color: rgb(214, 210, 210);
    color:rgb(1, 38, 38);
}
main{
    background-color: rgb(237, 233, 226);
    padding-bottom: 20px;
}
img{
    
    margin-top: 30px;
    margin-bottom: 20px;
    height: 400px;
}
footer{
    background-color: darksalmon;
    position: relative;
    padding: 20px;
   margin-top: 20px;
}
#head{
    margin-top: 20px;
    padding: 20px;
    font-size: 30px;
    color: rgb(91, 88, 88);
}
.products{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 20px;
}
.products a{
    border: 1px solid black;
    border-radius: 10px;
    color:rgb(91, 88, 88) ;
    padding: 10px;
}
.products a:hover{
    background-color: rgb(208, 232, 241);
}
.signup{
   margin-top: 20px;
}
.signin{
    margin-top: 20px;
}
main p{
    padding: 10px;
    line-height: 20px;
    font-size: larger;
    font-family: sans-serif;
}
label{
    font-size: 20px;
}
#prof{
    border: 1px solid black;
    border-radius: 100%;
    border: none;
}

.sect{
    width: 700px;
    height: 550px;
  border: 1px solid black;
  background-color: rgb(228, 240, 240);
 position: relative;
 top: 20px;
 margin-bottom: 20px;
 border-radius: 20px;
}
.log{
    width: 400px;
    height: 300px;
    position: relative;
    top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 20px;
background-color: rgb(228, 240, 240);
}
h2{
    margin-top: 30px;
}
#pass{
    margin-left: 70px;
}
#gender{
    margin-left: -67px;
}
#mail{
    margin-left: 40px;
}
#mobile{
    margin-left: 30px;
}
#uppass{
    margin-left: 15px;
}
#membership{
    margin-left: -100px;
}
.signin button{
    background-color:rgb(3, 49, 63,0.9);
   padding: 5px;
   border-radius: 10px;
    border: none;
}
.signup button{
    background-color:rgb(3, 49, 63,0.9);
   padding: 5px;
   border-radius: 10px;
    border: none;
}
.signup a{
    color: white;
}
.signin a{
    color: white;
}
#user{
    margin-left: 7px;
}
input:hover{
    background-color: aliceblue;
}
.line{
    border-bottom: 2px solid black;
}



