.grid{
    margin:auto;
    display:grid;
    border:1px solid;
    gap:10px;
    grid-row: repeat(4,1fr); 
    padding: 10px 0; 
    width:700px;
    height:200px;
}
.row1{
    display:grid;
    grid-template-areas: 'order1';
    background-color:rgba(219, 247, 251, 0.863);
    gap:10px;
    text-align: center;
}
.row2{
    display:grid;
    grid-column: repeat(2,1fr);
    grid-template-areas:'order2 order3';
    gap:10px;
    text-align: center;
}
.row3{
    display:grid;
    grid-column: repeat(3,1fr);
    grid-template-areas: 'order4 order5 order6';
    gap:10px;
    text-align: center;
}
.row4{
    display:grid;
    grid-column: repeat(4,1fr);
    grid-template-areas: 'order7 order8 order9 order10' ;
    gap:10px;
    text-align: center;
}
.order1{
    grid-area: order1;
}
.order2{
    grid-area: order2;
    background-color:rgba(219, 247, 251, 0.863);
}
.order3{
    grid-area: order3;
    background-color:rgba(219, 247, 251, 0.863);
}
.order4{
    grid-area: order4;
    background-color:rgba(219, 247, 251, 0.863);
}
.order5{
    grid-area: order5;
    background-color:rgba(219, 247, 251, 0.863);
}
.order6{
    grid-area: order6;
    background-color:rgba(219, 247, 251, 0.863);
}
.order7{
    grid-area: order7;
    background-color:rgba(219, 247, 251, 0.863);
}
.order8{
    grid-area: order8;
    background-color:rgba(219, 247, 251, 0.863);
}
.order9{
    grid-area: order9;
    background-color:rgba(219, 247, 251, 0.863);
}
.order10{
    grid-area: order10;
    background-color:rgba(219, 247, 251, 0.863);
}