.body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.container{
    border: 1px solid #E6E6FB;
    display: grid;
    grid-template-columns: 150px 600px;
    grid-template-rows: 75px 400px 100px 70px ;
    gap: 10px;
}
.container p{
    font-size: larger;
    padding: 5px 20px;
}
.header{
    background-color: #E6E6FB;
    grid-area: 1/1/2/-1;
}
.article{
    background-color: #E6E6FB;
    grid-area: 2/2/4/-1;
}
.nav{
    background-color: #E6E6FB;
}
.ads{
    background-color: #E6E6FB;
    grid-area: 3/1/-1/2;
}
.footer{
    background-color: #E6E6FB;
}