body
{
    background-color: black;
    color: white;
}
.container
{
    display: flex;
    border: 2px solid white;
    margin: 40px;
    height: 650px;
    justify-content: space-between;
    align-items: center;
    aspect-ratio: 1;
}
.box
{
    border: 3px solid red;
    height: 110px;
    aspect-ratio: 1;
    font-size: 30px;
}