body
{
    background-color: lightgray;
    text-align:center;
}

a{
    color:rgb(6, 6, 203);
    text-decoration: none;
    font-family:sans-serif;
    padding-right:5px;
}

a:visited{
    color: blueviolet;
}

a:active{
    color:aqua;
}

footer{
    border-top:1px solid black;
}

img
{
    height: 500px;
    width: 600px;
    filter: drop-shadow(10px 10px 5px rgb(56,56,56));
    margin-top: 40px;
}

#link{
    margin-bottom: 10px;
}

h3{
    margin-top: 60px;
}

.n{
    padding-top:10px;
    border-top:1px solid black;
}

#pre{
    font-family:sans-serif;
    font-size:15px;
}