.parent{
    display: grid;
    height: 500px;
    width:800px;
    grid-gap: 10px;
    border:1px solid #c1c1c1;
    grid-template-areas: 'Header Header Header'
                          'Nav Article Article'
                          ' Ads Article Article'
                          'Ads Footer Footer';
    grid-template-columns:1fr 5fr ;
    grid-template-rows: 2fr 3fr 2fr 1fr;
  }
  .child{
    background-color: rgb(196, 173, 196);
  }
  .header{
    grid-area:Header;
  }
  .nav{
    grid-area:Nav;
  }
  .article{
    grid-area:Article;
    height:350px;
  }
  .ads{
    grid-area:Ads;
  
    
  }
  .footer{
    grid-area:Footer;
  }