body{
    background-color: blue;
    
}
.oc{
    width: 50%;
    aspect-ratio: 1;
    display: flex;
    border-radius: 50%;
    background-color: white;
    margin-left: 400px;
    align-items: center;
    justify-content: center;
}
.bgc{
    height: 72%;
    aspect-ratio: 1;
    display: flex;
    background-color:blue;
    align-items: center;
    justify-content: center;
}
.ic{
    width: 60%;
    aspect-ratio: 1;
    display: flex;
    border-radius:50%;
    background-color: white;
  
    align-items: center;
    justify-content: center;
}
.inc{
    height: 30%;
    aspect-ratio: 1;
    background-color:blue;
}