.body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container{
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 475px;
    height: 475px;    
}
.box{
    border: 2px solid red;
    color: white;
    width: 80px;
    height: 80px;
    font-size: x-large;
}
#middle-box{
    display: flex;
    align-self: flex-end;
}