
.grid{
    border:1px solid;
    display:grid;
    width:620px;
    aspect-ratio: 1;
    gap:10px;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 10% 56% 20% 10%;
    grid-template-areas: 'header header '
              'nav  article'
              'ads article'
              'ads footer';
              margin :auto;
  }
  #header{
    grid-area: header;
    background-color:rgba(219, 247, 251, 0.863);
  }
  #article{
    grid-area:article;
    background-color:  rgba(219, 247, 251, 0.863);
  }
  #nav{
    grid-area: nav;
    background-color:  rgba(219, 247, 251, 0.863);
  }
  #aside{
    grid-area: ads;
    background-color:  rgba(219, 247, 251, 0.863);
  }
  #footer{
    grid-area: footer;
    background-color:  rgba(219, 247, 251, 0.863);
  }
