*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    text-decoration-line: none;
}

body{
    background-color: rgba(109, 102, 102, 0.193);
}

header{
    background-color: rgb(20, 25, 35);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed; 
    top: 0;
    z-index: 1;
}

img.amazon-logo{
    width: 110px;
    height: 32px;
}
div.amazon-logo{
    border: 1px solid rgb(20, 25, 35);
    padding:8px 5px;
    padding-right: 10px;
    height: 50px;
    width: 130px;
    margin-left: 10px;
}
div.amazon-logo:hover{
    border: 1px solid white;
    border-radius: 1.5px;
}



div.address{
    display: flex;
    border: 1px solid rgb(20, 25, 35);
    padding:8px 5px;
    height: 50px;
    width: 215px;
    margin-left: 2px;
}
div.address:hover{
    border: 1px solid white;
    border-radius: 1.5px;
}
div.address img{
    width: 18px;
    height: 25px;
    margin-right: 5px;
}
div.location-details p{
    font-size: 12px;
    color: rgb(202, 202, 202);
}

div.search-all{
    /* border: 1px solid white; */
    border-radius: 4.5px;
    margin-left: 10px;
    height: 40px;
    width: 500px;
    display: flex;
}
.search-list{
    width: 50px;
    height: 38.8px ;
    background-color: rgba(255, 255, 255, 0.847);
    border-top-left-radius: 4.5px;
    border-bottom-left-radius: 4.5px;
    color: rgb(82, 80, 80);
    padding-left:6px;
    border: none;
}

.search-list:hover{
    background-color: rgba(255, 255, 255, 0.777);
    color: black;
}
select option{
    width: 100px;
}

input.search-box{
    width: 400px;
    height: 38.8px ;
    background-color: rgb(255, 255, 255);
    border: none;
    
}
img.search-logo{
    width: 20px;
    height: 20px ;
}
button.search-logo{
    width: 50px;
    height: 38.8px ;
    background-color: rgb(255, 195, 85);
    border: none;
    border-top-right-radius: 4.5px;
    border-bottom-right-radius: 4.5px;
}

a.lang{
    background-color: rgb(20, 25, 35);
    height: 50px;
    width: 75px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
}
a.lang:hover{
    border:1px solid white;
    border-radius: 2px;

}

a.lang img{
    width:25px;
    height: 18px;
    margin-right: 3.5px;
}


a.ac{
        border:1px solid rgb(20, 25, 35);
        height: 50px;
        width: 130px;
        margin-left: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
}
a.ac:hover{
   border:1px solid white;
   border-radius: 2px;

}
a.ac p{
    font-size: 12px;
}

a.orders{
    border:1px solid rgb(20, 25, 35);
    height: 50px;
    width: 80px;
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
a.orders:hover{
border:1px solid white;
border-radius: 2px;

}
a.orders p{
font-size: 12px;
}

a.cart{
    border:1px solid rgb(20, 25, 35);
    height: 50px;
    width: 90px;
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
a.cart:hover{
    border:1px solid white;
    border-radius: 2px;
}

nav{
    margin-top: 60px;
    height: 40px;
    background-color: rgba(14, 24, 41, 0.923);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
div.cat-elements{
    border: 1px solid rgba(1, 9, 27, 0);;
    height: 40px;
    border-radius: 2px;
    padding: 10px;
    margin-left: 2px;
    font-size: 15px;

}
div.cat-elements:hover{
    border: 1px solid white;
}


div.bg{
   
    width: 100%;
    height: 550px;
    background-color: black;
    background-image: url('./assets/bg5.jpg'); 
    background-size: cover;
    position:relative;
    
}
.lt{
    top: 0;
    left: 0;
    height: 250px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    border: none;
    font-size: 40px;

}
.lt:hover{
    border: 2px solid green;
    outline: 1px solid white;
    border-radius: 5px;
    
}
.gt
{
    top: 0;
    right: 0;
    height: 250px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    border: none;
    font-size: 40px;

}
.gt:hover{
    border: 2px solid green;
    outline: 1px solid white;
    border-radius: 5px;
    
}

.grp-div1{
    position: absolute;
    top: 251px;
    width: 100%;
    height: 450px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grp-inner1{
    width: 290px;
    height: 420px;
    background-color: white;
    padding: 15px;

}
.grp-inner1 p{
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    padding: 0;
    margin-bottom: 5px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    gap: 5px;
}
.grid-item{
    width: 120px;
    height: 110px;
    background-size: cover;
    background-position: center;
}

.g1{
    background-image: url("./assets/g1.jpg");
}
.g2{
    background-image: url("./assets/g2.jpg");
}
.g3{
    background-image: url("./assets/g3.jpg");
}
.g4{
    background-image: url("./assets/g4.jpg");
}
.g5{
    background-image: url("./assets/g5.jpg");
}.g6{
    background-image: url("./assets/g6.jpg");
}.g7{
    background-image: url("./assets/g7.jpg");
}.g8{
    background-image: url("./assets/g8.jpg");
}.g9{
    background-image: url("./assets/g9.jpg");
}.g10{
    background-image: url("./assets/g10.jpg");
}.g11{
    background-image: url("./assets/g11.jpg");
}.g12{
    background-image: url("./assets/g12.jpg");
}.g13{
    background-image: url("./assets/g13.jpg");
}.g14{
    background-image: url("./assets/g14.jpg");
}.g15{
    background-image: url("./assets/g15.jpg");
}.g16{
    background-image: url("./assets/g16.jpg");
}

.outer-grid-item{
    text-align: center;

}

.outer-grid-item p{
    font-size: 12px;
    height: 30px;
    text-align: left;
    
}


.bikes-outer{
    margin: 160px 20px 20px 20px;
    padding: 20px;
    height: 300px;
    background-color: white;
}

.bikes-outer p{
    
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
  
}

.bikes-inner{
    /* border: 1px solid black; */
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    position: relative;
}

.bikes-inner img{
    height: 220px;
    margin-right: 35px;
}

.kitchen-outer{
    margin: 0 20px 5px 20px;
    padding: 20px;
    height: 300px;
    background-color: white;
}

.kitchen-outer p{
    
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
  
}

.kitchen-inner{
    /* border: 1px solid black; */
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    position: relative;
}

.kitchen-inner img{
    height: 220px;
    margin-right: 35px;
}

.furniture-outer{
    margin: 0 20px 5px 20px;
    padding: 20px;
    height: 300px;
    background-color: white;
}

.furniture-outer p{
    
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
  
}

.furniture-inner{
    /* border: 1px solid black; */
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    position: relative;
}

.furniture-inner img{
    height: 220px;
    margin-right: 10px;
}

.grp-fashion{
    width: 100%;
    height: 450px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid img{
    /* width: 120px; */
    height: 110px;
}


.grp-fashion .g1{
    background-image: url("./assets/f1.jpg");
}
.grp-fashion .g2{
    background-image: url("./assets/f2.jpg");
}
.grp-fashion .g3{
    background-image: url("./assets/f3.jpg");
}
.grp-fashion .g4{
    background-image: url("./assets/f4.jpg");
}

section.watch{
    display: flex;
    justify-content: center;
}

div.show-watch{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 30px;
    height: 300px;
    width: 900px;
    background-color: white;
    border: 2px solid white;
}
div.show-watch:hover{
    border: 2px solid rgba(59, 59, 144, 0.644);
}
div.watch img{
width: 240px;
height: 240px;
}
.brand-logo a{
    color: black;
}
.buy-now{
    margin-top:50px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    padding-top: 7px;
    border: 1.5px solid rgb(255, 153, 0);
    background-color: rgba(255, 200, 0, 0.821);
}
div.top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgba(62, 76, 106, 0.888);
}

footer section{
    background-color: white;
    padding: 40px 0 20px 0;
    height: 200px;
}
div.bottom-signin{
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.403);
    border-radius: 5px;
}
div.bottom-signin p{
    font-size: 13px;
}

.bottom-signin .below {
    color: black;
    font-size: 12px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    padding-top: 7px;
    border: 1.5px solid rgb(255, 153, 0);
    background-color: rgba(255, 200, 0, 0.821);
    margin: 5px;
}

.bottom-signin a{
    color: rgba(0, 102, 255, 0.742);
}

.amazon-logo-btm{
    width: 125px;
    height: 40px;
    margin-right: 50px;
}
.globe-div{
    padding: 5px;
    width: 140px;
    height: 40px;
    display:flex;
    align-items: center;
    border: 1px solid white;
    margin-right: 50px;
}
.globe-div select{
    color: white;
    border: none;
    background-color: rgba(128, 128, 128, 0);
}
.globe-div select option{
    background-color: rgba(14, 24, 41, 0.923);
}
.globe{
    
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.flag-btm{
    width:35px;
    height:25px;
    margin-right: 10px;
}
.flag-div{
    display:flex;
    align-items: center;
    border: 1px solid white;
    padding: 5px;
    width: 130px;
    height: 40px;
    color: white;
}
.bottom{
    height: 200px;
    background-color: rgba(14, 24, 41, 0.923);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

div.footer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: rgba(1, 1, 25, 0.371);
}
div.footer a{
    margin: 10px;
}
div.footer a:hover{
    text-decoration: underline;
}