
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    margin: 50px;
}
body,
.container,
.box {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 35px;
    width: 35px;
}
.box {
    position: relative;
    height: 600px;
    width: 600px;
    background-color: black;
}
.pokemon {
    position: absolute;
}
.one {
    top: 0;
    left: 0;
}
.two {
    top: 0;
    right: 0;
}
.three {
    bottom: 0;
    right: 0;
}
.four {
    bottom: 0;
    left: 0;
}

.five {
    position: fixed;
    bottom: 0;
    left: 20px;
}
.container {
    border: 1px solid red;
    position: relative;
    height: 75%;
    width: 75%;
}


