
.monkey_pic{
    width:250px;
    aspect-ratio: 1;
    margin-top: 100px;
    position:sticky;
    top:0px;
}
.container{
    display: flex;
    margin-left:10%;
}
.data{
    font-size: larger;
    width: 75%;   
}