.body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.container{
    border: 1px solid #E6E6FB;
    display: grid;
    grid-template-columns: 500px 150px 100px;
    grid-template-rows: 75px 500px 70px ;
    gap: 10px;
}
.container p{
    font-size: larger;
    padding: 5px 20px;
}
.header{
    background-color: #E6E6FB;
    grid-area: 1/1/1/4;
}
.article{
    background-color: #E6E6FB;
}
.nav{
    background-color: #E6E6FB;
}
.ads{
    background-color: #E6E6FB;
}
.footer{
    background-color: #E6E6FB;
    grid-area: -1/1/-2/-1;
}