body{
    background-color: black;
}

img{
    width: 100px;
    height: 100px;
}

.container{
    width: 1200px;
    height: 500px;
    margin: 100px 250px;
}

.page_image1{
    padding-right: 100px;
}

.image_container2{
    border: 1px solid red;
    width: 85%;
}

.page_image3{
    padding-left: 100px;
}

#image1{
    padding-left: 100px;
}

#image4{
    padding-right: 100px;
}

#image2{
    padding-right: 200px;
}

#image3{
    padding-left: 200px;
}

#center_end_image{
    position: relative;
    left: 81%;
}