*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(149, 128, 128, 0.258);
}

h1{
    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
    font-size: 60px;
    font-style: normal;
    /* border: 1px solid black; */
    margin: 15px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
  }

header nav{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
}


.navigation{
    padding-top: 22px;
    margin-bottom: 10px;
    /* border: 1px solid black; */
    border-radius: 70px;
    background-color: white;
    width: 100%;
    height: 130px;
    position: sticky;
}

div.navigation a{
    text-decoration: none;
    margin-right: 10px;
    font-family: verdana;
    font-size: 20px;
    font-weight: 548;
    color: black;
}
div.navigation a:hover , div.navigation a:active{
    text-decoration: underline;
}






.footHeading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(120, 76, 76);
    font-size: 25PX;
    letter-spacing: 2px;
}

nav.foot{
    display: flex;
    justify-content: center;
}

nav.foot li{
    margin-left: 30px;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    color: rgba(39, 25, 45, 0.767);
}

footer{
    background-color: white;
}

li{
    text-align: center;
}


img.home{
    height: 80px;
    width: 80px;
}

img.book{
    height: 80px;
    width: 100px;
}

img.mobile{
    height: 80px;
    width: 70px;
}

img.electronics{
    height: 80px;
    width: 100px;
}

img.toy{
    height: 80px;
    width: 100px;
}

img.laptop{
    height: 75px;
    width: 100px;
}

img.shirt{
    height: 75px;
    width: 90px;
}

img.beauty{
    height: 75px;
    width: 75px;
}

img.furniture{
    height: 75px;
    width: 75px;
}

img.profile{
    height: 75px;
    width: 75px;
}

div.logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px ;
}

div.login{
    border: 1px solid black;
    border-radius: 30px;
    width: 90px;
    height: 40px;
    margin-top: 30px;
    background-color: rgba(26, 47, 233, 0.821);
    color: white;
    font-size: 25px;
}

div.homeImage img{
    width: 100%;
    /* margin: 15px; */
    padding: 10px;
}