body{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    
}
section{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    height: 700px;
    width: 700px;
    border: 2px solid white;
}
.box{
    height: 120px;
    width: 120px;
    border: 2px solid red;
    font-size: 30px;

}
.top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* align-items: start; */
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.end{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* align-items: start; */
    align-items: end;
}