*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header h1{
    font-family: Bauhaus;
    color:#484A47;
}
a{color:black;
    text-decoration: none;}
body{
    background-color:rgb(235, 233, 246);
}
main{
    padding: 10px;
    margin: 10px;
    background-color:inherit;
}
main>section>h2{
    color: orange;
    text-align: left;
    margin: 25px;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif; 
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 1px solid #0000AD;
    background-color: inherit;
}
header a{
    border: 2px solid transparent;
    color: #0000AD;
}
.nav a:hover{
    box-sizing: content-box;
    border-bottom:2px solid #0000AD;
}
footer{
    border-top: 1px solid #0000AD;
    color: #0000AD;
}
.nav{
    display: flex;
    width: 400px;
    justify-content: space-around;
}

.catagories{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    row-gap: 30px;
}
.cat{
    overflow: hidden;
    width: 375px;
    border:1px solid black;
    height: 200px;
    transition: all 0.3s ease ;
    border-radius: 15px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cat img {
    width: 200px;
    align-self: center;
}
.cat>div{
    background-color:#183A37;
    color: white;
   height: 100%;
   font-size: 1.4rem;
  
   z-index: 10;
}
.cat:hover,.cat>div:hover{
    transition: all 0.3s ease ;
   box-shadow: 0 0 10px black;
}
.list a{
    color: #0000AD;
    font-size: 1.1rem;
    border: 2px solid transparent;
}
.list a:hover{
    border-bottom: 1px solid #0000AD;
}

.list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    margin-left: 5%;
    background-color: inherit;
    border: 3px solid #0000AD;
    width: 90%;
    padding: 10px;
    height: auto;
}
.product{
    display:flex;
    justify-content: space-between;
    border: 2px ridge #183A37;
    margin:10px;
    height: 350px;
    transition: all 0.4s ease;
    overflow: hidden;
    background-color: white;
}
.product:hover{
    box-shadow: 0 0 10px #183A37;
    transform: scale(1.001);
    transition: all 0.4s ease;
}
.product>img{
    padding: 10px 10px 10px 10%;
    background-color: transparent;
}
.product .info{
    width: 50%;
    padding: 100px;
    background-color:#183A37;
    color: #6A8D92;
    margin-right: -4vw;
    color:rgba(255, 255, 255, 0.479)
}
.info>h3{
    color:orange;
}
