*{
    margin: 0px;
    padding: 0px;
    background-color: #eee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;;
}

h1 {
    background-color: #eee;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 40px;
    margin-left: 20px;
}

nav {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0px;
}

#searchBar {
    padding-left: 15px;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    background-color: white;
    border: none;
    font-weight: 500;
    font-size: 15px;
}

#searchButton {
    height: 40px;
    width: 90px;
    border-radius: 7px;
    background-color: rgb(0, 153, 255);
    color: white;
    border: none;
    font-weight: 500;
    font-size: 15px;

}

.searchContainer {
    background-color: #eee;
    margin-right: 40px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.loading {
    font-size: 40px;
    background-color: #eee;
    position: relative;
    top: 290px;
    left: 720px;
}

.pokemonContainer {
    text-align: center;
    padding: 10px;
    margin: 20px;
    height: 220px;
    width: 160px;
    border: 2px solid rgb(12, 12, 12);
    border-radius: 10px;
    box-shadow: 10px;
    background-color: white;
}

.pokemonContainer:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.pokemonContainer h3 {
    color: rgb(0, 153, 255);
    background-color: white;
}

.pokemonContainer img {
    position: relative;
    left: 25px;
}

.pokemonContainer img,p, div, span {
    background-color: white;
}