.pokemonContainerStyles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.pokemon-name {
    font-size: 24px;
    font-weight: bold;
    color: green;
}

.pokemon-types {
    display: flex;
    gap: 5px;
}

.pokemon-type {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px;
}
