* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Tahoma;
}

header {
    display: flex;
    align-items: center;
    height: 70px;
    position: fixed;
    z-index: 10;
    background-color: white;
}
.space{
    height: 70px;
}
main {
    background-color: aliceblue;
    padding: 10px 20px;
    overflow: hidden;
}

.header-icons {
    width: fit-content;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 60px;
    font-size: 0.9rem;
    margin: 10px;
}

.header-icons div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-icons p {
    margin: 10px;
}

.search-bar {
    margin: 20px;
    margin-left: 40px;
    background: rgb(241, 245, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 740px;
    height: 40px;
    font-size: 0.9rem;
    border-radius: 6px;
}

.search-bar>img {
    filter: brightness(4.5);
}

#search-inpt {
    background: transparent;
    margin-left: 8px;
    border: 1px solid transparent;
    width: 700px;
    height: 100%;
    outline: none;
}

.list {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    column-gap: 25px;
    height: 110px;
}

.cat-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.7);
}

.cat-p {
    margin: 5px;
    padding: 5px;
}

/* navigation-bar */
.slideshow {
    margin: 15px 0px;
    display: flex;
    overflow: hidden;
    animation: autoslide 20s infinite;
}
.slideshow img {
    width: 100%;
}
@keyframes autoslide {
    0% {
        margin: 15px 0px 15px 0px;
    }

    10% {
        margin: 15px 0px 15px -1650px;
    }

    20% {
        margin: 15px 0px 15px calc(-1650px*1);
    }

    30% {
        margin: 15px 0px 15px calc(-1650px*2);
    }

    40% {
        margin: 15px 0px 15px calc(-1650px*2);
    }

    50% {
        margin: 15px 0px 15px calc(-1650px*3);
    }

    60% {
        margin: 15px 0px 15px calc(-1650px*3);
    }

    70% {
        margin: 15px 0px 15px calc(-1650px*4);
    }

    80% {
        margin: 15px 0px 15px calc(-1650px*4);
    }

    90% {
        margin: 15px 0px 15px calc(-1650px*5-200px);
    }

    100% {
        margin: 15px 0px 15px calc(-1650px*5-200px);
    }
}

/* slideshow */
.be-heading {
    font-size: 1.2rem;
    padding: 10px 20px 0px;
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
}

.be-heading img {
    height: 19px;
    padding: 5px;
    background-color: rgb(244, 255, 35);
    border-radius: 20px;
    filter: invert(100%);
}

.belist {
    background-color: white;
    margin: 10px 0px;
}

.be-products {
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    background-color: white;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 220px;
    padding: 15px;
    margin: 10px;
    justify-content: space-evenly;
    border: 1px ridge #797979a9;
    border-radius: 4px;
}

.name {
    font-size: 0.9rem;
    margin: 0px;
    padding: 2px;
    text-align: center;
    color: rgba(0, 0, 0, 0.516);
}

.prize {
    font-family: sans-serif;
    color: black;
}

a,
a:visited {
    color: black;
    text-decoration: none;
}

.ngh-products {
    background-color: white;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.ngh-products .product .prize {
    color: green;
    font-weight: 530;
    padding: 10px;
}

.product img:hover {
    transform: scale(1.1);
}

footer {
    background-color: rgb(31, 34, 70);
    color: #dcd7fade;
    font-size: 0.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    gap: 10px;
    height: 350px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 50px;
}

section {
    margin: 10px;
    padding: 15px;
    line-height: 19px;
}

footer section h5 {
    color: rgb(93, 89, 135);


}

@media screen and (max-width:950px) {
    footer {
        grid-template-columns: 1fr 1fr 1fr;
        height: auto;
    }
}