body{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    
}
.rectangle-container{
    width: 700px;
    height: 300px;
    margin: 200px;
}
.image{
    height: 50px;
    width: 50px;
}
.inner-container{
    width:600px ;
    height: 50px;
    margin: 50px;
    border: 1px solid red;
}
.up{
    position: relative;
    top:56px
}
#img1{
    position: relative;
    left:15%;
}
#img2{
    position: relative;
    left:25%;
}
#img3{
    position: relative;
    left:35%;
}
#img4{
    position: relative;
    left:45%;
}
 #img6{
    position: relative;
    left:83%;
}
.down{
    position: relative;
    bottom: 17%;
}
#img7{
    position: relative;
    left:25%;
}
#img8{
    position: relative;
    left:35%;
}
#img9{
    position: relative;
    left:45%;
}
#img10{
    position: relative;
    left:55%;
}