* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.all-pokemons-container {
  margin: 50px 5px 5px 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 40px;
  row-gap: 50px;
}

.pokemon-container img {
  width: 50%;
}

.pokemon-container {
  min-width: 250px;
  box-shadow: 0px 2px 5px lightgray;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  align-items: center;
  justify-content: center;
}

.loader-container {
  font-family: monospace, sans-serif;
  height: fit-content;
  width: fit-content;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15px 15px;
  margin: auto;
  z-index: 2;
}
