body {
    font-family: Arial, sans-serif;
    background-color: AliceBlue;
    color: DarkSlateGray;
}
h1, h2, h4, strong {
    color: DodgerBlue;
}
u {
    border-bottom: 2px solid DodgerBlue;
}
fieldset {
    border: 2px solid DodgerBlue;
    border-radius: 10px;
    padding: 20px;
    background-color: White;
}
legend {
    font-size: 1.2px;
    color: DodgerBlue;
}
button {
    background-color: DodgerBlue;
    color: White;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: CornflowerBlue;
}
a {
    color: DodgerBlue;
    
}
a:hover {
    text-decoration: underline;
}
image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid DodgerBlue;
}
.category a{
    margin: 10px;
}
.section-divider {
    font-size: 1.5px;
    color: DodgerBlue;
}
.profile{
    display: inline-block;
    width: 150px;
}

.grid-container{
    display:grid;
    padding: 30px;
    
    grid-template-columns:1fr 1fr ;
  }
  .grid-item{
  box-sizing: border-box;
  border:5px ;
  text-align: center;
  background-color: AliceBlue;
  margin: 5px;
  border-radius: 25px;
  padding: 1cm;
  background: linear-gradient(rgb(61, 93, 251),rgb(0, 229, 255));
 border-color: blue;
 
  }
 .grid-item a{ 
  height: 250px;
  width: 380px;  
   object-fit:cover;
  text-align: center;
   cursor: pointer;
   color: rgba(0, 0, 0, 0.658);
   font-weight: bold;
   text-decoration: wavy;
  }
  .grid-item a:hover{
    color: rgb(13, 13, 13);
  }