*
{
    background-color: black;
    color: white;
}
.flex-container
{
    border: 1.5px solid white;
    width: 300px;
    aspect-ratio: 1;
    margin: 2%;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex-items
{
    border: 1.5px solid red;
    width: 50px;
    aspect-ratio: 1;
}
.part-1, .part-3
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

