body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 24px;
   
}
header{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-family: sans-serif;
    text-align: center;
    line-height: 9px;
    line-break: 5px;
}
header img{
    height: 70px;
}
.nav-bar{
    display: flex;
    
    color: white;
    background: linear-gradient(to right,black,rgba(36, 132, 198, 1));
   height: 60px;
    margin-top: 0px;
    margin: 0px;
    
}
.nav-bar li{
    margin-top: 0px;
    list-style: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar a{
    color: white;
    text-decoration: none;
    margin-left: 16px;
    padding: 19px;
   margin-bottom: 10px;
   padding-bottom: 16px;
   padding-top: 23px;
    font-size: 16px;
}
span{
    align-items: center;
   
}
.nav-bar b{
    margin-bottom: 0px;
}
.nav-bar a:hover{
    background: linear-gradient(to right,green,orange);
}
.content{
    display: flex;
    padding: 30px;
}
.a{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(138, 128, 128);
    height: 50%;
    padding: 30px;
    gap:10px;
    line-height: 10px;
}

.b{
   
    width: 32%;
    text-align: center;
    margin: 10px;
    margin-top:2% !important ;
    padding: 0px !important;
    padding-top: 0% !important;
    text-align: center !important;
    border: 1px solid rgb(135, 131, 131);
    border-top: 0px;
    border-top-left-radius:0px;
    height: 60%;
}
form{
    font-size: 13px;
  
   
    width: 100%;
  
   height: 100%;
    gap: 30%;
  
}
input{
    width: 150px;
    height: 30px;
    margin: 15px;
    margin-left: 15%;
    align-items: center;
   text-align: center;
    border: 1px solid rgb(154, 149, 149);
    border-radius: 5px;
}
input:hover{
    border: 1px solid rgba(36, 132, 198, 1);
}
input:checked{
    border: 1px solid rgba(36, 132, 198, 1);
}
label{
    width: auto;
   margin-left: 15%;
}
h2{
    padding: 20px;
    top: 0%;
    margin-top: 0%;
}

button{
    background-color: rgb(54, 168, 54);
    border: 0px;
    width: 27%;
    height: 7%;
    padding: 10px;
    color: white;
    font-size: 17px;
    border-radius: 10px;
}
button:hover{
    background-color: green;
}
footer{
    background: linear-gradient(to right,black,rgba(36, 132, 198, 1));
    text-align: center;
    color:white;
    font-size: 14px;
}
footer a{
    color: white;
}
.nav-bar span{
    text-align: center;
    align-items: center;
}