*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.container{
    border: 2px solid red;
    display: flex;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    justify-content: center;
    align-items: center;

}

.container img{
    height: 130px;
}

.align-top{
    position: relative;
    bottom: 140px;
}

.align-bottom{
    position: relative;
    top: 140px;
}