#header {
    height: 150px;
    width: 100%;
    background-color: rgb(43, 43, 43);
}

h1 {
    text-align: center;
    color: orangered;
    padding-top: 60px;
}

#mainpage {
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon {
    height: 400PX;
    width: 370px;
    box-shadow: rgb(38, 38, 38);
}