.body{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
}
.outer-container{
    width: 850px;
    height: 625px;
   background-color:  #5077FF;
   display: flex;
   align-items: center;
   justify-content: center;
}
.outer-circle{
    width: 580px;
    height: 580px;
    border-radius: 290px;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.middle-container{
    background-color: #5077FF;
    height: 412px;
    width: 412px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-circle{
    width: 276px;
    height: 276px;
    border-radius: 138px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-container{
    width: 100px;
    height: 100px;
    background-color: #5077FF;
}