.one{
    height: 465px;
    width:675px ;
    background-color:#1871f7;
}
.two{
    height: 435px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
}
.three{
    height: 308px;
    aspect-ratio: 1;
    background-color:#1871f7;

}
.four{
    height: 154px;
    aspect-ratio: 1;
    background-color:rgb(255, 255, 255);
    border-radius: 50%;

}
.five{
    height: 70px;
    aspect-ratio: 1;
    background-color:#1871f7;
    
}
.one,.two,.three,.four,.five{
    display: flex;
    justify-content: center;
    align-items: center;
}


