
      .container{
        background-color: rgb(245, 245, 245);
        display: grid;
        grid-template-areas: 'para img';
        grid-template-columns: 5fr 1fr;
        grid-gap: 10px;

      }
      .paragraph{
        font-size: xx-large;
        grid-area: para;
      }
      .monkeyimg{
        grid-area: img;
        width: 250px;
        aspect-ratio: 1;
        margin-top: 250px;
        position: sticky;
        top: 0px;
      }