body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-top: 10px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

#bookList {
    margin-top: 17px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.book {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book:hover {
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.1);
}

.book strong {
    display: block;
    font-size: 1.2em;
    color: #2c3e50;
}

.book span {
    font-weight: bold;
}

.available {
    color: #27ae60;
}

.unavailable {
    color: #e74c3c;
}

button.toggle-btn {
    background-color: #e67e22;
    border: none;
    padding: 8px 15px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    left: 46%;
    transform: translateX(-50%);
}

button.toggle-btn:hover {
    background-color: #d35400;
}

button.lend-btn.available {
    background-color: #27ae60;
}

button.lend-btn.unavailable {
    background-color: #e74c3c;
}

#controls {
    text-align: center;
    margin-top: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

#close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-btn:hover,
#close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 480px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #2980b9;
}

p {
    margin-bottom: -10px;
}

.details {
    margin-bottom: 70px;
}