*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    margin:10vh auto;
    background-color: black;
    width: 45%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.flexbox{
    height: 95%;
    width: 95%;
    margin: auto;
    border: solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: space-around;
}
.container p{
    color: white;
    border: 2px solid red;
    height: 100px;
    width: 100px;
    font-size: 30px;
}