body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
}
.top{
    text-align: right;
    word-spacing: 30px;
}
.top-d{
    text-decoration: none;
}
.top-d:hover{
    text-decoration: underline;
}
.sign-in
{
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
    background-color: blue;
    color: white;
} 
.sign-in:hover
{
    scale: 1.05;
}

img {
    width: 280px;
    height: 90px;
    margin-bottom: 10px;
}

.input-text{
    padding: 20px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    word-wrap: break-word;
}
.input-text:hover
{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.buttonn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
}

.buttonn:hover {
    background-color: #ccc;
   
}
.footer-content{
    border: 1px black solid;
    text-decoration: none;
    background-color: #e3e3e3;
    position: absolute; 
    bottom: 0; 
    right: 0;
    left: 0;
   text-align: left;
   
}
.links
{
    text-decoration: none;
    padding: 10px;
    margin: 0;
    display:flex;

}
.india
{
    padding: 10px 0 10px 10px;
    margin: 0%;
  
 

}
.lin{
    text-decoration: none;
    margin-right: 30px;
}
.lin:hover
{
    text-decoration: underline;
}
.footer-right
{
    text-align: right !important;
    text-decoration: none;
    margin-right: 30px;
}
.footer-right:hover{
    text-decoration: underline;
}
    .links{
        display: flex;
        justify-content: space-evenly;
    }
    .link-main
    {
        display: flex;
        justify-content: space-evenly;
        border-top: 1px grey solid;
    }

