.container {
    background-color: white;
    display: flex;
}

p {
    font-size:x-large ;
    font-weight: 900;
}

img {
    height: 50vh;
    aspect-ratio: 1;
    margin-top:50vh;
    position: sticky;
    top: 0;
}