* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #2c3e50;
    line-height: 1.6;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #293949;
    color: #ecf0f1;
    font-size: 2rem;
    z-index: 1000;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #ecf0f1;
}

header .search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

header label {
    font-size: 1.2rem;
    margin-right: 10px;
}

header select, header input {
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: #2c3e50;
}

header input[type="text"] {
    width: 250px;
}

header input:focus, header select:focus {
    outline: none;
    border-color: #2980b9;
}


#main-container {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.pokemon-container {
    background-color: #ffffff;
    border: 1px solid #bdc3c7;
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    width: 220px;
    height: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.pokemon-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}

.pokemon-name {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 10px 0;
    color: #2980b9;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pokemon-id,
.pokemon-type {
    font-size: 0.9rem;
    color: #7f8c8d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pokemon-type {
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}