.title{
    color: white;
    background-color: black;
    font-family: sans-serif;
    font-size: 3em;
    text-align: center;
    margin: 0px 50px;
}
.pokemon{
  text-align: center;
  border: solid 2px black ;
  margin: 20px 10px;
  border-radius: 8px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.pokemon:hover{
    background-color: rgb(241, 241, 241);
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}
img{
    height: 200px;
    aspect-ratio: 1;
}
.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#SearchBox {
    border-radius: 25px;
    font-size: 25px;
    padding-left: 20px;
    width: 320px;
    height: 35px;
    margin: 10px 50px;
    display: none;
}
#loader{
    font-family: monospace;
    font-size: large;
    margin-top: 20px;
    margin-left: 20px;
}
#displaySearchedElements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#searchTitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    margin-top: 50px;
    margin-left: 20px;
    display: none;
}