*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    position: fixed;
    background-color: bisque;
    height: 15%;
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid black;
}
header img{
    width: 100px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 45px;
}
header button{
    float:inline-end;
} 
header h1{
    font-size: 45px;
    padding-left: 140px;
    position: absolute;
    font-family: system-ui;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    padding-top: 110px;
    justify-content: space-around;
}
.book{
    border: 1px solid black;;
    margin: 20px;
    width: 20%;
    border-radius: 20px;
    padding: 10px;    
}
img {
    height: 250px;
    width: 100%;
}
.Genre,.author,.year{
    font-size: 17px;
    padding: 5px;
    
}
span{
    font-size: 15px;
}
.name {
    font-size: 20px;
    border-bottom: 1px solid black;
}
button{
    font-size: 20px;
    border-radius: 10px;
    padding: 3px;
}
button:hover{
    background-color: rgb(100, 89, 89);
    color: white;
}
#popup{
    display: none;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    position: fixed;
    top: 30%;
    left: 40%;
    background-color: rgb(135, 207, 235);
}
#popup div{
   padding: 7px;
}

section button {
    width: 10%;
    height: 20px;
}