.main-container {
    margin: 0;
    padding: 0;
    height: 150vh;
    aspect-ratio: 1.5;
}

* {
    background-color: black;
}

.pokemon {
    position: fixed;
    left: 50px;
    bottom: 10px;

    img {
        height: 8vh;
        aspect-ratio: 1;
    }
}

.container {
    height: 100vh;
    aspect-ratio: 1;
    background-color: black;
    padding: 2%;
    margin: 10%;

    img {
        height: 8vh;
        aspect-ratio: 1;
    }
}

.square-1 {
    border: 0.1rem solid red;
    height: 100%;
    aspect-ratio: 1;

}

.square-2 {
    height: 80%;
    aspect-ratio: 1;
    position: relative;
    left: 10% !important;
    top: 2% !important;
    border: 0.1rem solid red;

    .pokemon-two {
        position: absolute;
        right: 0%;
    }
}

.square-3 {
    height: 70%;
    aspect-ratio: 1;
    position: relative;
    left: 14% !important;
    top: 15% !important;
    border: 0.1rem solid red;

    .pokemon-three {
        position: absolute;
        bottom: 0%;
        right: 0%;

    }
}

.square-4 {
    height: 60%;
    aspect-ratio: 1;
    position: relative;
    left: 19%;
    top: 20%;
    border: 0.1rem solid red;

    .pokemon-four {
        position: absolute;
        bottom: 0%;
        left: 0%;
    }

    .pokemon-five {
        position: absolute;
        top: 35%;
        left: 35%;
    }

}