* {
  background-color: black;
}

img {
  width: 50px;
  height: 50px;
}

.outer {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.imgTop1 {
  position: relative;
  right: 10px;
}

.imgTop2 {
  position: relative;
  right: 20px;
}

.imgTop3 {
  position: relative;
  right: 30px;
}

.imgTop4 {
  position: relative;
  right: 40px;
}

.imgBottom1 {
  position: relative;
  left: 40px;
}

.imgBottom2 {
  position: relative;
  left: 30px;
}

.imgBottom3 {
  position: relative;
  left: 20px;
}

.imgBottom4 {
  position: relative;
  left: 10px;
}

.inner {
  border: 1px solid red;
  display: flex;
  width: 100%;
  justify-content: space-between;
}