
    .grid{
      border:1px solid;
      display:grid;
      width:620px;
      aspect-ratio: 1;
      gap:10px;
      grid-template-columns: 50% 30% 20%;
      grid-template-rows: 10% 1fr 10%;
      grid-template-areas: 'header header header'
                'article nav ads'
                'footer nav ads';
                margin :auto;
    }
    #header{
      grid-area: header;
      background-color:rgba(219, 247, 251, 0.863);
    }
    #article{
      grid-area:article;
      background-color:  rgba(219, 247, 251, 0.863);
    }
    #nav{
      grid-area: nav;
      background-color:  rgba(219, 247, 251, 0.863);
    }
    #aside{
      grid-area: ads;
      background-color:  rgba(219, 247, 251, 0.863);
    }
    #footer{
      grid-area: footer;
      background-color:  rgba(219, 247, 251, 0.863);
    }
