* {
  margin: 0;
  padding: 0;
}

body {
  background-color: azure;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  background-color: #023047;
  color: white;
  height: 25px;
  width: 100%;
  padding: 25px;
}

header #pokeball {
  height: 50px;
  width: 50px;
}

#searchBox {
  margin-right: 15%;
  width: 20%;
  padding: 11px;
  border-radius: 10px;
}

#websiteName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

#pokemonSection {
  height: 100%;
  padding: 125px 0px;
  background-color: azure;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

#showLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  aspect-ratio: 1;
  padding: 25px;
  font-size: 32px;
  position: absolute;
  left: 40%;
  bottom: 30%;
}

#pokemonDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  padding: 15px;
}

.pokemon {
  height: 235px;
  aspect-ratio: 1;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  align-items: center;
  box-shadow: 2px 2px 2px black;
  font-size: 15px;
  padding: 10px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}