* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --button-theme: rgba(255, 166, 0, 0.6);
  --info-color: rgba(255, 50, 10, 0.65);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 5px gray;
  margin-top: 10px;
}

.library-name {
  font-size: 4rem;
}

.add-book-btn,
.lend-recover-btn {
  background-color: var(--button-theme);
  font-weight: bold;
  padding: 5px 15px;
  border: none;
  border-radius: 30px;
  font-size: 1.65rem;
  cursor: pointer;
}

.nav-btns,
.drop-down-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-down-menu {
  position: relative;
}

.drop-down-list {
  position: absolute;
  flex-direction: column;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 105%);
  width: 125px;
  background-color: white;
  box-shadow: 0 0 2px black;
  visibility: hidden;
}

.drop-down-item {
  width: 100%;
  font-size: 1.1rem;
  border: none;
  background-color: none;
  border-bottom: 1px solid gray;
  padding: 2.5px 15px;
  background-color: white;
  text-align: left;
}

.drop-down-item:hover {
  background-color: var(--button-theme);
}

.group-books-btn {
  border: none;
  background-color: var(--button-theme);
  padding: 5px;
  border-radius: 30px;
  margin: 0 10px;
  font-weight: bold;
  font-size: 1.15rem;
  width: 150px;
  cursor: pointer;
}

.book-shelf {
  padding: 10px;
}

.books-heading {
  font-size: 2.5rem;
  text-decoration: underline;
  text-transform: capitalize;
  text-align: center;
}

.all-books-data-section,
.new-group-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 30px;
}

.grouped-books-section,
.all-books-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 30px;
  row-gap: 75px;
  position: relative;
  margin: 10px;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  padding-top: 30px;
  border-radius: 2.5px;
  background-color: rgba(128, 128, 128, 0.075);
  border: 1px solid var(--button-theme);
  position: relative;
}

.book:hover {
  border: 1px solid white;
}

.book-title {
  align-self: start;
  max-width: 30ch;
  overflow-wrap: anywhere;
}

.book :nth-child(n) {
  margin-top: 5px;
}

.cover-page {
  width: 100%;
  height: 250px;
  border: 1px solid rgba(128, 128, 128, 0.25);
}

.lend-recover-btn {
  width: 100%;
  font-size: 1.25rem;
  border-radius: 5px;
  cursor: pointer;
}

span {
  font-size: 17px;
}

.genre {
  position: absolute;
  right: 0px;
  top: -2px;
  background-color: var(--button-theme);
  padding: 2.5px;
  padding-top: 0px;
  padding-bottom: 3px;
  border-radius: 2.5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.genre-label {
  align-self: center;
  display: inline-block;
  height: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 5px;
  background-color: rgba(255, 255, 255);
}

.genre-text {
  color: black;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.75);
  position: fixed;
  top: 0;
  z-index: 2;
}

.add-book-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px black;
  border-radius: 5px;
}

.add-book-form input {
  width: 350px;
  height: 30px;
  font-size: 1.25rem;
  padding: 10px;
  margin-bottom: 15px;
}


.add-book-form input::placeholder {
  font-size: 1rem;
  opacity: 0.75;
}

.form-container {
  visibility: hidden;
}

.form-book-btn {
  border: none;
  background-color: var(--button-theme);
  padding: 5px;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
}

.status-symbol {
  width: 20px;
  aspect-ratio: 1;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 5px;
}

.status-text {
  color: black;
  margin-left: 5px;
  font-size: 17px;
}

.year span,
.author span {
  font-size: 17.5px;
  margin-left: 5px;
  color: orange;
}

.status {
  width: 125px;
  height: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 1px;
  left: -0.5px;
  transform: translateY(-125%);
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--button-theme);
}

.status span {
  font-size: 16px;
}

.link-to-top {
  color: black;
  background-color: var(--button-theme);
  font-size: 1.25rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 15px;
  position: sticky;
  bottom: 30px;
  left: 90%;
}

.book:hover {
  animation-name: null;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

@keyframes sample {
  0% {
    box-shadow: 0 0 0px black;
  }

  100% {
    box-shadow: 0 0 10px black;
  }
}