.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows:10% 50% 30% 10%;
    grid-template-areas: 
    'head head head'
    'nav article article'
    'ads article article'
    'ads foot foot';
    gap: 10px;
}
.items{
    background-color:skyblue;
}
#header{
    grid-area: head;
}
#article{
    grid-area: article;
}
#nav{
    grid-area: nav;
}
#ads{
    grid-area: ads;
}
#footer{
    grid-area: foot;
}
