body {
    background-color: rgb(245, 245, 245);
    display: flex;
}

.para {


    font-size: x-large;
    font-weight: 600;
}

.img {
    margin-top: 200px;
    position: sticky;
    top: 0;
    height: 300px;
    aspect-ratio: 1;

}