body{
    background-color:#24252A;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* #genreSelectstyle{
    background:white;
    color:black;
    width: 135px;
    font-size: 1.3rem;
    border: transparent;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}
#genreSelectstyle:hover{
    background-color:#494b57;
    color:white;
} */
#bookContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto;
}
.book{
 box-sizing: border-box;
 margin: 8px;
 margin-left: 10px;
 cursor: pointer;
 border-radius: 8px;
 display: flex;
 flex-direction: column;
 word-wrap: break-word;
 width: 280px;
 
 /* justify-content: space-around; */
}
.book:hover{
    background-color:#494b57;
    color:white;
}
.bookName {
    font-size: 1.2em;
    margin-bottom: 8px;
    margin-left: 15px;
}
#titleBar{
    display: flex;
    border-bottom: solid 3px black;
    justify-content: space-around;
    font-size: 1.2em;
}

.authorName , .publishedYear , .Genre{
    font-size: 14px;
    color:rgb(179, 175, 175);
    margin-left: 15px;
}
.availability{
    font-size: 16px;
    color:rgb(26, 241, 112);
    margin: auto;
    padding: 10px 0px;
}
#navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#addBookBtn{
    background:white;
    color:black;
    width: 80px;
    font-size: 1.3rem;
    border: transparent;
    border-radius: 8px;
    border: solid 2px white;
}
#addBookBtn:hover{
    background-color:#494b57;
    color:white;
    border: solid 2px white;
}
#addNewbook{
    background-color: white;
    border-radius: 9px;
    color:black;
    display:none;
    flex-direction: column;
    width: 400px;
    aspect-ratio: 1;
    margin: auto;
    position: fixed;
    top: 30%;
    left:35%;
}
#addNewbook div{
    text-align: center;
}
#addNewbook input{
    width: 90%;
    font-size: 1.1rem;
    border: 2px solid black;
    border-radius: 3px;
    margin:0px auto;
}
#addNewbook label{
    margin-left: 18px;
}
#addNewbook button{
    width: 150px;
    height: 30px;
    margin: auto;
    border: solid 2px black;
    border-radius: 5px;
    font-weight:bold;
}
#addNewbook #closeBtn {
    margin-left: 100px;
    width: 50px;
    background-color:transparent ;
    border-radius: 20px;

} 
#addNewbook #closeBtn :hover{
 background-color: red;
}
#formHeading{
    margin-top:35px;
    font-size: 1.3rem;
    font-weight: bolder;
}
.navSection{
    position: sticky;
    top: 0px;
    background-color: #33343a;
    padding: 10px;
}

#buttonContainer{
    display: flex;
    justify-content: space-around;
    width: 700px;
}

.categoriseBtnStyle{
    width: 100px;
   height: 50px;
    background-color: aliceblue;
    border-radius:18px;
     text-align: center; 
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}
.genreStyle:hover{
   color: white;
   background-color: #33343a;
   border: solid 2px white;
}

.statusText{
  position: fixed;
  bottom: 0px;
  left : 65%; 
  word-wrap: break-word;
  font-size: 17px;
  display: none;
  background-color: #0027ed;
  padding: 10px;
  border: 2px solid white;
  border-radius: 8px;
}

#catergorise-container{
    display: flex;
        font-size: 30px;
        color: aliceblue;
        flex-direction: column;
}
.categoryName{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    background-color: #494b57;
    padding: 10px;
    margin-top: 30px;
}
.individualcategory{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto;
}