body{
  background-color: black;
  margin: 10%;
}
.container{
    border: 1px red solid;
    width: 600px;
    aspect-ratio: 8;
    display: flex;
    justify-content: space-between;
  }
  .img{
    width: 70px;
    aspect-ratio: 1;
  }
  .dianosuar1{
    position: relative;
    left: 60px;
  }
  .dianosuar2{
    position: relative;
    left: 105px;
  }
  .dianosuar3{
    position: relative;
    left: 150px;
  }
  .dianosuar4{
    position: relative;
    left: 195px;
  }
  .dianosuar7{
    position: relative;
    left: 120px;
  }
  .dianosuar8{
    position: relative;
    left: 165px;
  }
  .dianosuar9{
    position: relative;
    left: 205px;
  }
  .dianosuar10{
    position: relative;
    left: 240px;
  }