.footer-logo span {
    color: #333333;
    display: block;
    margin-bottom: 15px !important;
    /* margin-left: 100px; */
}

.footer-section {
    color: #f5f5ff;
    padding: 40px 20px !important;
    /* padding-left: 100px !important; */
}

.footer-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px 10px 0 0;
    /* text-align: center; */
    flex-wrap: wrap;
}

.footer-middle div {
    /* min-width: 200px; */
    /* width: 300px; */
    margin: 10px 0;

}

.footer-links ul {
    list-style: none;
}

.footer-links h3,
.footer-contact h3,
.footer-social h3 {
    color: #FF4500;
    font-size: 18px;
    margin-bottom: 4px;
}

.footer-links ul li {
    /* padding: 2px 0; */
    margin: 5px 0;
}

.footer-links ul li a {
    color: #FFD700;
    transition: all ease-in-out 0.3s;
    font-size: 14px;
}

.footer-links ul li a:hover {
    color: #87CEEB;
}

.footer-contact h3 {
    color: #FF4500;
}

.footer-contact p {
    font-size: 14px;
    color: #ffffff;
    margin: 4px 0;
}

.footer-social {
    padding: 0 12px;
    margin-right: 12px !important;
}

.footer-social a {
    font-size: 14px;
    /* margin: 0 8px; */
    /* margin-left: 8px; */
    color: #f3f3f3;
}

.footer-social a:hover {
    color: #87CEEB;
}

.footer-social i {
    color: #333333;
    margin-right: 6px;
}