.landing-image {
    position: relative;
}

.header-section,
.footer-section {
    padding: 15px 40px;
    border-bottom: 1px solid #f3f3f3;
    background-color: #0077B6;
}

.header-logo span,
.footer-logo span {
    font-family: "Anton SC",
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    cursor: pointer;
    color: #ffffff;
}

.header-nav {}

.header-section,
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list a {
    margin: 0 10px;
    font-size: 18px;    
    color: #333333;
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;
    transition: all ease-in-out 0.15s;  
}

.nav-list a:hover {
    background-color: #87CEEB;
    color: #f5f5ff;
    transform: scale(1.1);
}

.landing-page img {
    object-fit: cover;
    height: 500px;
    width: 100%;
    object-position: center;
}


.landing-page-text button {
    text-align: center;
}

.landing-page-text button i {
    color: inherit;
}

.header-signup button:hover,
.landing-page-text button:hover {}

.landing-page-text span {
    display: block;
    position: absolute;
    padding: 0 120px;
    font-family: "Anton SC",
        sans-serif;
    font-weight: 200;
    font-style: normal;
    top: 30%;
    /* right: 50%; */
    /* transform: translate(50%,50%); */
    line-height: 92px;
    font-size: 70px;
    /* width: 600px; */
    color: #F5F5F5;
}

.landing-page-text button {
    position: absolute;
    top: 90%;
    left: 10%;
}

main {
    margin: 40px auto;
    padding: 12px 24px;
}