.bcont{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    border: 2px solid white;
    align-items: center;
    justify-content: space-between;
  }
  body{
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .b1{
    color: white;
    height: 100px;
    width: 100px;
    border: 2px solid red;
    font-weight: 500;
    font-size: 25px;
  }

  .one{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }


  .three{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
