.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 30px;
  height: 1500px;
}

.img-container {
  display: flex;
  padding-top: 16%;
}

.img-container img {
  height: 300px;
  position: sticky;
  top: 10px;
}
