*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    
}

#parentContainer{
    border: 2px solid #ffffff;
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-content: space-around;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.childContainer{
    border: 2px solid red;
    width: 250px;
    aspect-ratio: 1;
}

.childContainer p{
    color: #ffffff;
}