*{
    margin: 0;
    padding: 0;
}


.page-layout{
    height: 98vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    grid-template-rows: 1fr 5fr 1fr 1fr;
    gap: 0.5rem;
    grid-template-areas: 
        "header header header"
        "nav article article"
        "ads article article"
        "ads footer footer";
        
}

.page-layout-item{
    background-color: rgb(170, 170, 255);
    border-radius: 11px;

}

.page-layout-item p{
    padding: 2em;
}

#header{
    grid-area: header;
}

#footer{
    grid-area: footer;
}

#nav{
    grid-area: nav;
}

#ads{
    grid-area: ads;
}

#article{
    grid-area: article;
}

