*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;

}
main{
    width: 500px;
   aspect-ratio: 1;
   background-color: black;
display: flex;

}
.container{
  width: 400px;
  height: 400px;
  border: 1px solid white;
  margin-top: 45px;
  margin-left: 45px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}
.box{
    width: 70px;
    height: 70px;
    border: 1px solid red;
    color: white;
    font-size: 25px;
}