.Monkey {
    position: sticky;
    margin-top: 200px;
    top: 0px;
    height: 200px;
}

img {
    height: 200px;
}

.Monkeypng {
    position: sticky; 
    /* sticky */
}

.Page {
    display: grid;
    grid-template-columns: 1fr 25%;
    grid-template-rows: 1fr;
    grid-template-areas: 'text img';
}

.Text {
    position: relative;
    width: 600px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

p {
    font-size: 150%;
}