body{
    background-color: aquamarine;
     align-content: center; 

    
}
h2{
    align-content: center;
    margin:0px 400px 50px 400px;
}

nav{
    align-content: center;
    border: 1cap darkorange aqua;
    border-width: 1ch;
    background-color: rgb(0, 255, 110);
    border-style: groove;
    word-spacing:1pc;
    border: 1px 1px 1px 5px;
    margin: 3px 300px 0px 200px;
    border-radius: 30px;


}
.a{
    color:blue;
}
