body{
    align-content: center;
    margin-left:20px;
    border: 5px solid blue;
    background-color: aqua;
    padding-right: 350px;
    padding-top:30px;
    padding-bottom: 100px;
    padding-left: 80px;
    margin:100px 600px  200px 400px;

border-radius: 40px;
}
#a{
    border: 5px solid black ;
    background-color:  Lightgreen;
}
