* {
    background-color: black;
}

.charmander-row {
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 50px;
    width: 1300px;
}

.charmander-row1 {
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 120px;
    width: 1300px;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 1300px;
    position: relative;
    left: 70px;
    border: 2px solid red;
}

img {
    height: 100px;
    aspect-ratio: 1;
}