a{
    color:black;
    border:10px black;
    border-radius:25px;
    padding:7px;
    margin:15px;
    background:linear-gradient(rgb(79, 230, 220),rgb(66, 126, 216));
    text-decoration:none;} 
    input{
    border-radius:5px;
    }
    header{
    background-image: url("./assets/bg.jpg");
        border-radius: 10px;
        
    }
    h4{
        margin:0px;
        padding:30px;
        background:linear-gradient( rgb(52, 174, 235),rgb(119, 176, 241) ),
               linear-gradient( rgb(7, 173, 244),rgb(106, 200, 240) ),
               linear-gradient( rgb(1, 183, 243),rgb(41, 154, 206)),
               linear-gradient( rgb(41, 167, 212),rgb(25, 175, 206));
    }
    body{
        text-align: center; 
        background-color:rgb(106, 200, 240);
    }
    .br{
        margin:15px;
    }
    #hr{
        margin: 100px;
        border-top: 1px solid black;
    }
    img{
        margin: 60px;
    }
    button{
        color:white;
        padding:8px;
        background:linear-gradient( rgb(58, 218, 22),rgb(13, 121, 15) ),
                   linear-gradient( rgb(24, 194, 24),rgb(6, 248, 83) ),
                   linear-gradient( rgb(34, 141, 12),rgb(13, 231, 60)),
                   linear-gradient( rgb(106, 208, 159),rgb(252, 254, 255));
                   border-radius:19px;
    }
    #profile{
            border-radius:500px;
    }
    #heading{
        background:linear-gradient( rgb(55, 164, 231),rgba(17, 146, 215, 0.489) 70%),
   linear-gradient( rgba(10, 63, 110, 0.901),rgb(32, 171, 199) 70%); margin-bottom:0px;border-radius: 50px;
   }
form{
    padding: 30px;
    background-color:rgb(135, 208, 240);
}