body{
    
    
 background:black; 
 
 }
 .box{
 margin-top:200px;
 margin-left:auto;
 margin-right:auto;
 }
 img{
     height:45px;
     aspect-ratio: 1;
 }
 .container-one{
 height:500px;
 aspect-ratio:1;
     border:1px solid red;
     margin-left:auto;
     margin-right:auto;
 
 }
 .pokemon-one{
     position:relative;
    
     top:1%;
     left:1%
 }
 .container-two{
     height:400px;
     aspect-ratio:1;
         border:1px solid red;
         margin-left:auto;
 margin-right:auto;
     
     }
     .pokemon-two{
         position:relative;
         left:88%;
         top:1%;
     }
     .container-three{
         height:300px;
         aspect-ratio:1;
             border:1px solid red;
             margin-left:auto;
             margin-right:auto;
         }
         .pokemon-three{
             position:relative;
             left:84%;
             top:83%;
         }
         .container-four{
             height:200px;
             aspect-ratio:1;
                 border:1px solid red;
                 margin-left:auto;
                 margin-right:auto; 
               
             }
 
             .pokemon-four{
                 position:relative;
                 left:2%;
                 top:75%;
             }
 
 
            
                 #unique-image{
            margin-top:1000px;
                    position:sticky;
                    bottom:0%;
                    border:1px solid red;
                 }
                 .pokemon-five{
                    position:relative;
                    top:8%;
                    left:37%;
                 }
 
             
 
                                       
                     
                     