.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'header header header header'
    'nav article article article'
    'nav article article article'
    'ads article article article'
    'ads footer footer footer';
    background-color:white;
    gap: 10px;
    padding: 10px;
    width: 400px;
    height: 400px;
}
body{
    background-color: black;
}
.grid-container > div{
    background-color:aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.item-1{
    grid-area:header ;
}
.item-2{
    grid-area: article;
}
.item-3{
    grid-area: nav;
}
.item-4{
    grid-area: ads;
}
.item-5{
    grid-area: footer;
}