* {
    text-decoration: none;
}

body {
     background-color: pink;
     font-weight: bold;

}

h1,
nav {
    background-color: rgb(247, 229, 229);
    display: inline-flex;
    border-radius: 10px;
    border: black solid;
    padding: 2px;
    margin: 10px;
    text-shadow: 0.9px 0.9px;
    box-shadow: 6px 6px rgb(167, 163, 163);

}

a {
    color: black;
    padding: 15px;
}

button {
    background-color: yellow;
    display: inline-flex;
    border-radius: 5px;
    border: black solid;
    padding: 2px;
    margin: 10px;
    text-shadow: 0.9px 0.9px;
}

.backgroundlogin {
    background: url(shoppingg.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.backmain {
    background-color: pink;
}

.profileback {
    background: url(profileback.png);
    background-repeat: no-repeat;
    background-size: cover;

}

marquee {
    border-radius: 10px;
    border: black solid;
    padding: 2px;
    margin: 10px;
}

img {
    display: inline-flex;
    border-radius: 10px;
    border: black solid;
    padding: 1px;
    margin: 10px;
}

figure {
    display: block;
    width: 300px;
    padding: 5px;
    margin: 2px;
}

.foot {
    border: solid black;
    border-radius: 20px;
    display: inline-block;
    margin: 20px;
    padding: 2px;
    text-shadow: 0.9px 0.9px;
    box-shadow: 6px 6px rgb(167, 163, 163);
    background-color: rgb(247, 229, 229);
}

.backmain {
    background: radial-gradient(circle at center, white, rgb(228, 128, 145));
}

.border:hover {
    background-color: pink;
    border: 1px solid black;
    border-radius: 2px;

}

nav {
    height: 50px;
    align-items: center;
}
fieldset{
    width: 500px;
    border: solid 4px;
    border-radius: 9px;
    box-shadow: 6px 6px rgb(205, 191, 3);
}