.container{
    display:grid;
    height:80vh;
    aspect-ratio: 1.4;
    border:0.1em solid black;
    grid-template-columns: 5fr repeat(2,2fr);
    grid-template-rows: repeat(10, 1fr);
    gap:0.2em;
    .head{
        background-color: rgb(255, 227, 255);  
        grid-column:1/4;
        grid-row:1/2;
    }
    .nav{
        background-color: rgb(255, 227, 255);
        grid-row: 2/11;
    }
    .footer{
        background-color: rgb(255, 227, 255);
        grid-row:10/11;
    }
    .article{
        background-color: rgb(255, 227, 255);
        grid-row:2/10;
    }
    .ads{
        background-color: rgb(255, 227, 255);
        grid-row: 2/11;
    }
}