
body{
    /* background-color: yellow; */
    background: rgb(65, 65, 245);
    color: white;
    border: 1px solid white;
}
a{
    color:white;
    text-decoration: none;
}
/* h1{
    display: inline;
} */
#yello{
    color: rgb(247, 255, 11);
    
}
#title{
    font-size: 50px;
}
#profile{
    float: right;
}
#top{
    padding: 10px;
    padding-bottom: 20px;
}
#profileimage{
    border-radius: 50%;
    border: 1px groove white;
}
#navigation{
    border: 1px solid white;
    padding: 20px;
}
.nav{
    padding-left: 20px;
}
h2{
    text-decoration: underline;
}
footer{
    border-top: 1px solid white ;
}