*
{
    text-align: center;
    background-color:lightgoldenrodyellow;
}
form{
    border:3px solid gray;
    width: 300px;
    height: 200px;
    margin: auto;
    padding: 20px;
    border-radius: 10%;
}
#form1{
    border:3px solid gray;
    width: 500px;
    height: 450px;
    margin: auto;
    padding: 20px;
    border-radius: 10%;
}
.button
{
    background-color: lightpink;
    border-radius: 30px;
    color: white;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
}
.button:active
{
    background-color: lightcoral;
}
input{
    border-style: dotted dashed solid double;
    border-color: black;
}
.space{
  word-spacing: 10px;
}
img{
    border: 1px solid white;
    border-radius: 25px;
    padding:10px;
    margin: 10px;
    border:2px solid black
}
#img1
{
    border-radius: 50%;
}
h1{
    text-shadow: 2px 1px gray;
}
h2
{
    text-shadow: 2px 1px lightgray;
}
.text
{
    text-decoration: none;
    border:1px solid lightgoldenrodyellow;
    padding: 2px;
    margin: 1px;
    background: lightgoldenrodyellow;
    cursor: pointer;
}  
.text:active{
    background-color: darkkhaki;
}
.container
{
    position: relative;
}
.top_right{
  position:absolute;
  top: 40px;
  right: 90px;
  border: 1px solid black;
    background-color:palegreen;
    padding-left: 2px;
    padding-right: 30px;
    color:black;
    padding-top: 2px;
    padding-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5%;
    font-weight: bold;
}
.tag
{
    border: 1px solid black;
    background-color: palegreen;
    padding-left: 2px;
    padding-right: 25px;
    color:black;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}
.line{
    border-bottom: 2px solid grey;
    margin-top: 3px;
    width: 100%;
}
#right1{
    position: absolute;
    bottom:40px;
  right:275px;
}
#right2{
    position: absolute;
    bottom:40px;
  right:435px;
}
#right3{
    position: absolute;
    bottom:40px;
  right:380px;
}
#right4{
    position: absolute;
    bottom: 40px;
    right:265px;
}
#right5{
    position: absolute;
    bottom:40px;
  right:270px;
}
#right6{
    position: absolute;
    bottom:40px;
  right:350px;
}
#right7{
    position: absolute;
    bottom:40px;
  right:375px;
}
#right8{
    position: absolute;
    bottom:40px;
  right:335px;
}
#right9{
    position: absolute;
    bottom:40px;
  right:335px;
}
#right10{
    position: absolute;
    bottom:40px;
  right:335px;
}
#right11{
    position: absolute;
    bottom:40px;
  right:425px;
}
#right12{
    position: absolute;
    bottom:40px;
  right:415px;
}
#right13{
    position: absolute;
    bottom:40px;
  right:430px;
}
#right14{
    position: absolute;
    bottom:40px;
  right:415px;
}
#right15{
    position: absolute;
    bottom:40px;
  right:415px;
}
#right16{
    position: absolute;
    bottom:40px;
  right:440px;
}
#right17{
    position: absolute;
    bottom:40px;
  right:305px;
}
#right18{
    position: absolute;
    bottom:40px;
  right:245px;
}
#right19{
    position: absolute;
    bottom:40px;
  right:415px;
}
#right20{
    position: absolute;
    bottom:40px;
  right:435px;
}
#right21{
    position: absolute;
    bottom:40px;
  right:435px;
}
#right22{
    position: absolute;
    bottom:40px;
  right:475px;
}
#right23{
    position: absolute;
    bottom:40px;
  right:315px;
}
#right24{
    position: absolute;
    bottom:40px;
  right:405px;
}
#right25{
    position: absolute;
    bottom:40px;
  right:430px;
}
#right26{
    position: absolute;
    bottom:40px;
  right:270px;
}
#right27{
    position: absolute;
    bottom:40px;
  right:265px;
}
#right28{
    position: absolute;
    bottom:40px;
  right:265px;
}
#right29{
    position: absolute;
    bottom:40px;
  right:330px;
}
#right30{
    position: absolute;
    bottom:40px;
  right:265px;
}
#right31{
    position: absolute;
    bottom:40px;
  right:265px;
}
#right32{
    position: absolute;
    bottom:40px;
  right:265px;
}
#right33{
    position: absolute;
    bottom:40px;
  right:265px;
}
#right34{
    position: absolute;
    bottom:40px;
  right:265px;
}
#right35{
    position: absolute;
    bottom:40px;
  right:265px;
}
#right36{
  position: absolute;
  bottom:40px;
right:310px;
}
#right37{
  position: absolute;
  bottom:40px;
right:230px;
}
#right38{
  position: absolute;
  bottom:40px;
right:260px;
}
#right39{
  position: absolute;
  bottom:40px;
right:270px;
}
#right40{
  position: absolute;
  bottom:40px;
right:330px;
}