.box {
    width: 800px;
    aspect-ratio: 1;
    display:flex;
    justify-content: center;
    align-items:center;
}

body {
    background-color: black;
    display:flex;
    justify-content: center;
    align-items:center;
}

.container {
    border: 1px solid red;
    width: 80%;
    height:80%;
    display:flex;
    justify-content: center;
    align-items:center;
    position: relative;
}
.pokemon{
    position:absolute;
}
.one{
    top: 0px;
    left:0;
}
.two {
    top:0;
    right:0;
}

.three {
    
    bottom:0% ;
    right: 0%;
}

.four {
    
    bottom: 0%;
    left: 0%;
}

img {
    width: 50px;
    height: 50px;
}

 #pokemon {
    position:fixed;
    bottom:20px;
    left:100px;
} 
