body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
}

.box {
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

img {
    height: 28px;
    width: 28px;
}

.container {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    position: relative;
}

.pokemon {
    position: absolute;
}

.one {
    top: 0;
    left: 0;
}

.two {
    top: 0;
    right: 0;
}

.three {
    bottom: 0;
    right: 0;
}

.four {
    bottom: 0;
    left: 0;
}