.body{
    margin: 0;
    padding: 0;
    background-color: white;
    box-sizing: border-box;
}
.layout1-container{
    width: 700px;
    height: 500px;
    display: grid;
    border: 2px solid black;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows:50px 1fr 50px ;
    grid-template-areas: 
    "header header header"
    "article nav ads"
    "footer nav ads"
    ;
    gap: 7px;
    text-align: center;
}
.layout1-header{
    grid-area: header;
    background-color: skyblue;
}
.layout1-article{
    grid-area: article;
    background-color: skyblue;
}
.layout1-nav{
    grid-area: nav;
    background-color:skyblue;
}
.layout1-ads{
    grid-area: ads;
    background-color: skyblue;
}
.layout1-footer{
    grid-area: footer;
    background-color:skyblue;
}
.layout2-container{
    width: 700px;
    height: 500px;
    display: grid;
    border: 2px solid black;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:50px 2fr 1fr 50px ;
    grid-template-areas: 
    "header header "
    " nav article"
    " ads article"
    "ads footer"
    ;
    gap: 7px;
    text-align: center;
}

.layout2-header{
    grid-area: header;
    background-color: skyblue;
}
.layout2-article{
    grid-area: article;
    background-color: skyblue;
}
.layout2-nav{
    grid-area: nav;
    background-color:skyblue;
}
.layout2-ads{
    grid-area: ads;
    background-color: skyblue;
}s
.layout2-footer{
    grid-area: footer;
    background-color:skyblue;
}
.triangle-container{
    width: 600px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(12 1fr);
    grid-template-rows: repeat(4 1fr);
    grid-template-areas: "triangle-1 triangle-1 triangle-1 triangle-1  triangle-1  triangle-1  triangle-1  triangle-1  triangle-1  triangle-1  triangle-1  triangle-1 "
    "triangle-2 triangle-2 triangle-2 triangle-2 triangle-2 triangle-2 triangle-3 triangle-3 triangle-3 triangle-3 triangle-3 triangle-3"
    "triangle-4 triangle-4 triangle-4 triangle-4 triangle-5  triangle-5 triangle-5 triangle-5 triangle-6 triangle-6 triangle-6 triangle-6"
    "triangle-7 triangle-7 triangle-7 triangle-8 triangle-8 triangle-8 triangle-9 triangle-9 triangle-9 triangle-10 triangle-10 triangle-10"
    ;
    text-align: center;
    border: 1px solid black;
    
    gap: 3px;
}
.triangle-1{
    grid-area: triangle-1;
    background-color: skyblue;

}
.triangle-2{
    grid-area: triangle-2;
    background-color: skyblue;

}
.triangle-3{
    grid-area: triangle-3;
    background-color:skyblue;
}
.triangle-4{
    grid-area: triangle-4;
    background-color:skyblue;
}
.triangle-5{
    grid-area: triangle-5;
    background-color: skyblue;
}
.triangle-6{
    grid-area: triangle-6;
    background-color:skyblue;
}
.triangle-7{
    grid-area: triangle-7;
    background-color:skyblue;
}
.triangle-8{
    grid-area: triangle-8;
    background-color:skyblue;
}
.triangle-9{
    grid-area: triangle-9;
    background-color:skyblue;
}
.triangle-10{
    grid-area: triangle-10;
    background-color:skyblue;
}

