body{
    background-color: black;
    color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
     align-items: center;
}
.bcont{
    height: 450px;
    aspect-ratio: 1;
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
     align-content: space-around;
     
   
}
.b1{
    height: 76px;
    aspect-ratio: 1;
    border: 2px solid red;
    justify-self: center;
    
}