* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: auto;
  height: auto;
}

#header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  background-color: black;
}

#newBook {
  position: absolute;
  top: 40px;
  right: 70px;
  height: 40px;
  aspect-ratio: 2.2;
  font-size: 13px;
  border-radius: 5px;
}

header {
  font-size: 50px;
  color: ORANGE;
}

#mainContent {
  padding-top: 130px;
}

#wardrobe {
  background-color: rgb(220, 220, 220);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 40px;
  padding: 10px;
}

.book, .genreBook {
  background-color: white;
  width: 300px;
  height: auto;
  text-align: left;
  font-size: 2.3vh;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  word-wrap: break-word;
}

.book p , .genreBook p {
  margin: 5px 0;
}

.inputFields {
  width: 240px;
  height: 30px;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
}

#addBtn {
  height: 30px;
  width: 80px;
  color: white;
  border-radius: 5px;
  background-color: black;
  margin-left: 110px;
}



h3 {
  color: black
}

#arrow {
  position: absolute;
  right: 5px;
  top: 47%;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.lendButton {
  width: 100px;
  height: 30px;
  border-radius: 3px;
  font-size: 15px;
  font: 1em sans serif;
  font-weight: 250;
  background-color: #007bff;
  border: none;
  color: white;
}

.closeButton {
  position: absolute;
  right: 20px;
  top: 35px;
  width: 30px;
  height: 25px;
  background-color: black;
  color: white;
}

.available {
  color: green;
  font-size: 15px;
  font: 1em sans serif;

}

.unavailable {
  color: red;
  font-size: 15px;
  font: 1em sans serif;
}

label {
  color: black;
}

#categorizeButton {
  position: relative;
  left: 350px;
  top: 5px;
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.hideDiv {
  display: none;
}

.backGroundForm {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  top: '0';
  right: '0';
  position: fixed;
}

#bookForm {
  height: 350px;
  width: 400px;
  border-radius: 5px;
  background-color: white;
  position: relative;
  padding: 40px;

}
.categorise{
  display: none;
};



