.gridcont{
     height: 450px;
     width: 560px;
     display: grid;
     grid-template: 50px 1fr 50px / repeat(5,1fr);
    grid-gap:4px;
}
.header{
    grid-column: 1/6;
}
.article{
  
    grid-column: 1/4;
}
.nav{
    grid-area: 2/4/4/5;
}
.ads{
    grid-area: 2/5/4/6;
}
.footer{
    grid-area: 3/1/4/4;
}
.ads,.article,.footer,.header,.nav{
    background-color: rgb(170, 223, 253);
    display: flex;
    justify-content: center;
    align-items: center;
}
