
    #t4{
        box-sizing: border-box;
       padding: 200px;
       content: 400px;
       background-color:rgba(173, 196, 119, 0.185);
       padding-left:100px;
      margin-top: 0px;
    }
    #s5{
        height:600px;;
       
       box-sizing: border-box;
       border: 10px solid white;
       border-radius: 3%;
       background-color:white;
      
       margin-right:350px;
       margin-left:390px;

    }
    #one
    {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        color:rgb(212, 130, 30);
    }
    p{
        font-style:oblique;
        margin: 0px;
    }
    #o1
    {
      font-weight: lighter;
      color:cadetblue;
    }
    .t6{
        border-radius: 5px;
    }
    hr{
        margin: 0px;
    }
    div{
        background-color: gainsboro;
    }
    .o9:hover{
            font-weight: 900;
    }
    footer{
        background-color:white;
    }