body{
    background-color: whitesmoke;
}
#text{
    width: 70%;
    height: max-content;
    font-size: 25px;
    margin-left: 30px;
}
#monkey{
    margin-top: 150px;
   height: 349px;
   width: 300px;
   float: right;
   position:sticky;
   top: 0px;
}