.outer-square{
    border: 1px solid   #007FFF;
    width: 600px;
    height: 500px;
    background-color:  #007FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer-circle{
    border:1px solid white;
    background-color: white;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-square{
    border: 1px solid  #007FFF;
    background-color:  #007FFF;
    height: 320px;
   width: 320px;
   display: flex;
   align-items: center;
   justify-content: center;

}
.inner-circle{
    border: 1px solid white;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.square{
border: 1px solid  #007FFF;
background-color:  #007FFF;
height: 75px;
width: 75px;
}