*{
    box-sizing: border-box;
}
body{
    /* padding: 0px 80px; */
    margin: 0;
    background-color: #fff;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 70vh;
    text-align:center;
    background-image: url(./assets/heroSectionBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    align-items: center;
    object-fit: cover;
}
.hero header{
    padding: 10px 120px;
}
.hero header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.hero header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.hero header nav ul li{
    margin-left: 20px;
}
.hero header nav ul li a,.hero header nav a{
    font-size: 24px;
    font-weight: 100;
    text-decoration: none;
    text-transform:capitalize ;
    color: #fff;
    padding: 5px 0;
}
.hero .hero-center{
    margin: auto;
}
.hero .hero-center .logo{
    width: 350px;
    height: auto;
}
.hero .hero-center p{
    font-size: 38px;
    font-weight: 300;
    color: #fff;
}
.hero .hero-center form{
    width: 50%;
    max-height: 60px;
    background-color: #fff;
    align-self: center;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 20px 20px;

}
.hero .hero-center form label i{
    font-size: 18px;
    color: #E03546;
}
.hero .hero-center form label:nth-child(1){
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid gray;
}
.hero .hero-center form label:nth-child(2){
    display: flex;
    /* width: 100%; */
}
.hero .hero-center form label select{
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 18px;
    width: 200px;
 
}
.hero .hero-center form label input{
    outline: none;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    width: 300px;
    background-color: transparent;
}

/* main section styles */
.main{
    background-color: #fff;
    padding: 50px 100px;
}
.main .orders{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.main .orders article{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: transparent;
    border-radius: 10px;
}
.main .orders article img{
    width: 550px;
    height: 200px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.main .orders article .info{
    padding: 10px 20px;
    border: .25px solid #d1d1d1;
    border-radius:0 0 10px 10px;
}
/* collections styles  */
.collections{
    padding: 40px 0;
    line-height: 6px;
}
.collections h1{
    font-size: 34px;
    font-weight: 500;
}
.collections p{
    font-size: 20px;
}
.collections .card-grid{
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.collections .card-grid .card{
    width: 280px;
    height: 350px;

}
.collections .card-grid .card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.collections .card-grid .card div{
    position: relative;
    left: 10px;
    bottom: 75px;
    color: #fff;
    padding: 5px 10px;
}
.collections .card-grid .card div h4{
    font-size: 18px;
    font-weight: 200;
}
.collections .card-grid .card div p{
    font-size: 16px;
    font-weight: 200;
}
/* locality section styles */
.locality{
    padding: 30px 0;
    height: auto;
}
.locality h1{
    font-size: 38px;
    font-weight: 300;
    color: #363636;
}
.locality .places-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
} 
.locality .places-grid article{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 300px;
    padding: 30px 20px;
    border: 1px solid #d1d1d1;
    color: #363636;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    max-height: 80px !important;
    border-radius: 10px;
    margin: 10px;
    transition: 0.25s linear;
}
.locality .places-grid article div{
    line-height: 5px;
    padding: 50px 0;
}
.locality .places-grid article div h4{
    font-size: 20px;
    font-weight: 200;
    text-transform: capitalize;
}
.locality .places-grid article i{
    font-size: 11px;
}
/* app section styles */
.app{
    padding: 50px 80px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
   background-color: #FFFBF7;
    width: 100%;
    line-height: 10px;
}
.app img{
    width: 300px;
    height: auto;
    object-fit: cover;
}
.app .app-share h1{
    font-size: 50px;
    font-weight: 300;
}
.app .app-share p{
    font-size: 18px;
    font-weight: 100;
    color: #363636;
}
.app .app-share label{
    font-size: 18px;
}
.app .app-share label input[type="radio"]{
    accent-color: #E03546;
}
.app .app-share div{
    padding: 30px 0;
}
.app .app-share div input{
    color: #fff;
    border: 0.5px solid #d1d1d1;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    height: 50px;
}
.app .app-share span{
    font-size: 16px;
    color: #363636;
}
.app .app-share img{
    width: auto;
    height: 50px;
    object-fit: cover;
}
.btn{
    height: 50px;
    width: auto;
    background-color: #E03546;
    outline: none;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
}
/* footer styles */
footer{
    background-color: #F8F8F8;
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
}
footer .top{
    display: flex;
    justify-content: space-between;
}
footer .top img{
    width: auto;
    height: 30px;
}
footer .top div select{
    height: 50px;
    border-radius: 5px;
    width: auto;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 100;
    margin: 10px;
}
footer .links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: .25px solid gray;
}
footer .links div h3{
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
}
footer .links div nav{
    list-style: none;
    margin: 0;
}
footer .links div nav li{
    font-size: 14px;
    font-weight: 200;
    padding: 5px 0;
}
footer .links div nav li a{
    text-decoration: none;
    color: gray;
    text-transform: capitalize;
}
footer .links div nav li i{
    color: #1C1C1C;
    font-size: 24px;
    margin: 0 5px;
}
footer .links div nav li img{
    width: auto;
    height: 40px;
}
footer .copyrights{
    padding: 20px 0;
}
footer .copyrights p{
    font-size: 15px;
    color: gray;
    font-weight: 100;
}
/* login form styling */
.popup{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    padding: 80px;
}
.login{
    width: max-content;
    position: relative;
    top: -10;
    margin: auto;
    min-height: 150px;
    min-width: 20rem;
    border-radius: 0.6rem;
    transform: scale(1);
    /* padding: 100px 0; */
    box-shadow: rgba(28, 28, 28, 0.15) 0px 1.2rem 7rem;
    transition: transform 0.25s ease 0s;
}
.signup{
    min-height: 150px;
    max-width: 600px;
    position: relative;
    top: -8;
    margin: auto;
}
.form{
    background-color: rgb(255, 255, 255);
    height: max-content;
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0px 2.4rem 2.4rem;
}
.form div{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.form div a{
    text-decoration: none;
}
.form div h1{
    font-size: 3rem;
    line-height: 4rem;
    margin: 1.5rem 0px;
    font-weight: 500;
    color: rgb(79, 79, 79);
}
.form form{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    border-bottom: 1px solid gray;
}
.form form label{
    background-color: #fff;
    border: 1px solid gray;
    width: 100%;
    min-height: 40px;
    height: auto;
    padding: 0.8rem;
    font-size: 1.6rem;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
}
/* .signup .form form label{
    display: flex;
    flex-direction: column;
} */
.form form label select{
    outline: none;
    border: none;
    font-size: 20px;
    padding: 0 -10px;
    border-right: 1px solid gray;
    font-weight: 100;
}
.form form label input[type="text"],[type="email"]{
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0 10px;
    font-weight: 100;
}
.form form p input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border: 2px solid gray;
    accent-color: #e03546;
}
.form form p{
    font-size: 14px;
    text-align: center;
}
.form form h2{
    align-self: center;
    font-size: 16px;
    font-weight: 200;
    color: rgb(79, 79, 79) ;
}
.form form .other-btn{
    background-color: #fff;
    color: rgb(79, 79, 79);
    border: 1px solid gray;
    margin: 10px 0;
}
.form form .other-btn i{
    color: #E03546;
}
.form h2{
    align-self: flex-start;
    font-size: 16px;
    color: rgb(79, 79, 79);
    font-weight: 300;
}
.form h2 a{
    text-decoration: none;
    color: #E03546;
}

/* investor page styles */
#investor{
    width: 100%;
    height: auto;
    text-align:center;
    background-color: #e03546;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    align-items: center;
    padding-bottom: 30px;
}
#investor header{
    padding: 10px 120px;
}
#investor header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#investor header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#investor header nav ul li{
    margin-left: 20px;
}
#investor header nav ul li a,#investor header nav a{
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    text-transform:capitalize ;
    color: #fff;
    padding: 5px 0;
}
#investor header nav a img{
    height: 40px;
}
#investor .hero-center{
    width: 100%;
    height: auto;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
#investor .hero-center .brands{
    background-color: transparent;
    width: 50%;
}
#investor .hero-center .brands .div{
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    align-content: start;
    border-bottom: .5px solid #fff;
}
#investor .hero-center .brands .div p{
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    text-align: start;
}
#investor .hero-center .brands .div .brand-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: start;
}
#investor .hero-center .brands .div .brand-img img{
    width: auto;
    height: 30px;
    margin-right: 20px;
   
}
#investor .hero-center .overview{
    background-color: #fff;
    width: 446px;
    border-radius: 40px;
    padding: 1.25em 1.25em 0px
}
#investor .hero-center .overview h1{
    font-size: 24px;
    font-weight: 800;
}
#investor .hero-center .overview .card{
    background-color: #fff;
    border: .5px solid #e5e5e5;
    border-radius: 24px;
    padding: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}
#investor .hero-center .overview .card .img{
    padding: 0 10px;
    background-color: #FFF5F6;
    border-radius: 24px 0 0 24px;
    height: 60px;
    width: 70px ;
    margin-right: 20px;
}
#investor .hero-center .overview .card  .img img{
    width: 36px;
    height: 36px;
    object-fit: contain;
    margin: 10px 0;
}
#investor .hero-center .overview .card  p{
    font-size: 24px;
    font-weight: 400;
}

/* partner page styles */
#partner{
    width: 100%;
    height: auto;
    text-align:center;
    background-color: #050408;
    align-items: center;
    padding-bottom: 30px;
}
#partner header{
    padding: 10px 120px;
}
#partner header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#partner header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#partner header nav ul li{
    margin-left: 20px;
}
#partner header nav ul li a,#investor header nav a{
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    text-transform:capitalize ;
    color: #fff;
    padding: 5px 0;
}
#partner header nav a img{
    height: 40px;
}
#partner .center{
    /* margin: auto; */
    width: 100%;
    margin: 0 50px;
    padding: 0 50px;
}
#partner .center h1{
    color: #fff;
    font-size: 34px;
    font-weight: 500;
}
#partner .center p{
    color: #fff;
    font-size: 18px;
    font-weight: 200;
}
.btn2{
    height: 40px;
    background-color: #2781E7;
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    border-radius: 5px;
    padding: 10px 50px;
    margin: 10px;
}
.btn3{
    height: 40px;
    background-color: #fff;
    outline: none;
    border: none;
    color: #050408;
    font-size: 18px;
    font-weight: 100;
    border-radius: 5px;
    padding: 10px 50px;
    margin: 10px;
}