*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    
}

#parentContainer{
    border: 2px solid #ffffff;
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
    
}

.childContainer{
    border: 2px solid red;
    width: 350px;
    aspect-ratio: 1;
}

.childContainer p{
    color: #ffffff;
}

#childContainer-3{
    align-self: center;
    margin: 0 auto;
}

.childContainer-endAlign{
    align-self: end;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.childContainer-startAlign{
    align-self: start;
    display: flex;
    justify-content: space-between;
    width: 100%;


}