* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

header {
    font-size: 35px;
    color:black;
    
    

}
form{
    width: 450px;
    height: 400px;
    border: 1px black solid;
    padding: 20px;
    border-radius: 7px;
    position: absolute;
    left: 35%;
    top: 15%;
}
input{
    width:250px;
    height: 40px;
    border-radius: 7px;

}
label[for="1"],[for="2"]{
    width:"20%";
    height: 35px;
    font-size: 23px;
}
.text{
    position: absolute;
    top: 25px;
    left: 15%;
}
button[type="submit"]
{
    width:150px;
    height: 40px;
    border-radius: 7px;
    position: absolute;
    left: 35%;
    background-color: black;
    color: white;
}
a[href="signup.html"]{
    position: absolute;
    left: 35%;
    color:black;
    text-decoration: none;

}
a:hover{
    color:green;
    text-decoration: underline;
}
footer{
    position: absolute;
    top: 89%;
    left:40%
}