.z{
text-decoration: none;
color:white;
}
.z:hover{
    color: red;
    text-decoration: underline;
}
.b{
    background-color:black;
}
header{
    font-size: 25px;
    color:white;
}
.x{
    color:white;
    text-decoration: none;
}
.x:hover{
    color:skyblue;
    text-decoration: underline;
}
img{
    width: 300px;
    height: 300px;
}
body{
    background-color:white;
}
.container{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.div1{
    color:red;
    position: absolute;
    top: 40%;
    text-align: center;
}