* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

header {
    font-size: 35px;
    color:black;
    
    

}
form{
    width: 450px;
    height: 600px;
    border: 1px black solid;
    padding: 20px;
    border-radius: 7px;
    position: absolute;
    left: 35%;
    top: 10%;
}
input{
    width:250px;
    height: 40px;
    border-radius: 7px;

}
label[for="1"],[for="2"]{
    width:"20%";
    height: 35px;
    border-radius: 7px;
    
}
.text{
    position: absolute;
    top: 25px;
    left: 15%;
}
button[type="submit"]
{
    width:150px;
    height: 40px;
    border-radius: 7px;
    position: absolute;
    left: 35%;
    background-color:black;
    color: white;
}
a[href="login.html"]{
    position: absolute;
    left:45%;
    font-size: 15px;
    color:black;
    text-decoration: none;
    font-size: 20px;
}
a:hover{
    color:red;
    text-decoration:underline;
  
}
footer{
    position: absolute;
    top: 95%;
    left:40%
}
select{
    
        width:250px;
        height: 40px;
        border: 1px black solid;
        border-radius: 7px;
}