body{
    height: 250px;
    border: 3px solid black;
    background-color: white;
    display: grid;
    grid-template-areas: 
    'one one one one one one one one one one one one'
    'two two two two two two three three three three three three' 
    'four four four four five five five five six six six six'
    'seven seven seven eight eight eight nine nine nine ten ten ten';
}
body >div{
    background-color: cornflowerblue;
    margin:2px;
    padding: 10px;
    text-align: center;
    align-content: center;
}
#one{
    grid-area: one;
}
#two{
    grid-area: two;
}
#three{
    grid-area: three;
}
#four{
    grid-area: four;
}
#five{
    grid-area: five;
}
#six{
    grid-area: six;
}
#seven{
    grid-area: seven;
}
#eight{
    grid-area:  eight;
}
#nine{
    grid-area: nine;
}
#ten{
    grid-area: ten;
}
