.box{

    width: 500px;
    height: 500px;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;

}
.outer-box{
    border: 2px solid white;
    height:450px;
    width:450px;
    background-color: black;
    display:flex;
justify-content: center;
align-items: center;
justify-content: space-between;
box-sizing: border-box;   
flex-wrap: wrap;
align-content: space-between;
}
.inner-box{
    border: 2px solid red;
    height:80px;
    width:80px;
    color: white;
}