body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  height: 1000px;
}

.box {
  position: relative;
  width: 600px;
  height: 600px;
}

.pokemon {
  position: absolute;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one {
  width: 100%;
  height: 100%;
}

.two {
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.three {
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
}

.four {
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
}

.five {
  top: 45%;
  left: 45%;
  width: 20%;
  height: 20%;
  border: 1px solid black;
}

.pokemon img {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 50px;
  height: 50px;
}

.one img {
  top: 0%;
  left: 5%;
}
.two img {
  top: 0%;
  left: 90%;
}
.three img {
  top: 85%;
  left: 85%;
}
.four img {
  top: 80%;
  left: 5%;
}
.five img {
  top: 0%;
  left: 0%;
}

.extra img {
  height: 70px;
}
.extra {
  position: fixed;
  bottom: 0%;
  left: 25%;
}
