body{
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100px;
}
.image-box{
    border: 1px solid red;
    height: 100px;
}
.move-to-top{
    position: relative;
    bottom: 100px;
}
.move-to-bottom{
    position: relative;
    top: 100px;
}