.box {
    background-color: black;
    margin: 50px 500px;
    height: 600px;
    width: 600px;
    padding: 50px;
}

img {
    height: 50px;
    aspect-ratio: 1;
}

.container-1 {
    border: 2px solid red;
    height: 100%;
    width: 100%;
}

.container-2 {
    border: 2px solid red;
    height: 80%;
    width: 80%;
    position: relative;
    left: 10%;
    bottom: 0.7%;
}

.two {
    position: absolute;
    right: 0;
}

.container-3 {
    border: 2px solid red;
    height: 70%;
    width: 70%;
    position: relative;
    left: 15%;
    top: 15%;
}

.three {
    position: absolute;
    bottom: 0;
    right: 0;

}

.container-4 {
    border: 2px solid red;
    height: 60%;
    width: 60%;
    position: relative;
    left: 20%;
    top: 20%;
}

.four {
    position: absolute;
    bottom: 0;
    left: 0;
}

.five {
    position: absolute;
    top: 35%;
    left: 35%;
}