body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 10px;
}
header {
    color: #f0f0f0;
    background-color: black;
    border-bottom: #f0f0f0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    left: 45px;
}
header img {
    height: 45px;
    width: 45px;
    padding: 10px;
    top: 10px;
    bottom: 10px;
}
.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    /* padding: 5px; */
    border-bottom: 1rex solid white;
}

.pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    background-color: lightgray;
    padding: 10px;
}

.pokemon-box {
    background: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.pokemon-box img {
    width: 100%;
    border-radius: 8px;
    border: 1px solid lightslategray;
}

.pokemon-name {
    font-weight: bold;
    text-transform: uppercase;
    font-style: inherit;
}
