body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
header img {
    height: 45px;
    width: 45px;
    padding: 10px;
}
h1 {
    color: orange;
    margin: 0;
}
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-container {
    margin-left: auto;
}
input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 3px solid  orange;
    border-radius: 4px 0 0 4px;
    outline: none;
}
button {
    padding: 10px;
    border: 1px solid #ff3366;
    background-color: #ff3366;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
button:hover {
    background-color: #e62e5e;
}
.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    border-bottom: 1rex solid white;
}

.pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    background-color: lightgray;
    padding: 10px;
}

.pokemon-box {
    background: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.pokemon-box img {
    width: 100%;
    border-radius: 8px;
    border: 1px solid lightslategray;
}

.pokemon-name {
    font-weight: bold;
    text-transform: uppercase;
    font-style: inherit;
}
#loadingSymbol {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: blue;
}