* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #f5f5f5;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
    margin-top: -5px;
    background-color: #0075BE;
    color: #FFCC00 ;
    padding-top: 29px;
    padding-left: 30px;
    border-radius: 10px;
    height: 80px;
}
header h1 {
    font-size: 33px;
}
#search {
    width: 222px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    padding: 7px 11px 7px;
}
#searchButton {
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    padding: 7px;
    background-color: #EE6B2F;
    color: white;
}
#pokemons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
img {
    width: 120px;
    height: 120px;
}
.pokeCard {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 206px;
    height: 280px;
    border: 1px solid #999;
    border-radius: 10px;
    margin: 15px;
}
.name {
    font-size: large;
    font-weight: bolder;
    margin-top: 20px;
}
