*{
    padding: 0px;
    margin: 0px;
}
.fcd{
    width: 100%;
}

#ghs{
    float: left;
}
.xvb{
    width: 100%;
    height: 100px;
    background-color: #fff;
    line-height: 70px;
}
.ths{
    float:left;
    margin-left:30px;
}
.mnb{
    display: inline-block;
    list-style-type: none;
    padding-top: 30px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    padding: 20px;
    color: #696969;
}
    .njy{
        text-align: center;
    }
    article{
        font-size: x-large;
        text-align: center;
        padding-bottom: 10px;
    }
    .ght{
        text-align: center;
    }
.vht{
    margin: 5px;
}
.cgv{
    padding-top: 10px;
    margin-left: 350px;
     margin-right: 350px;
      text-align: center;
      border-radius: 10px;
      border: 1px ;
      margin-bottom: 10px;
      background-color:rgb(236, 236, 236);
}
footer{
    text-align: center;
}