
*{
    padding: 0px;
    margin: 0px;
}
.fcd{
    width: 100%;
}

#ghs{
    float: left;
}
.xvb{
    width: 100%;
    height: 100px;
    background-color: #fff;
    line-height: 70px;
}
.ths{
    float:left;
    margin-left:30px;
}
.mnb{
    display: inline-block;
    list-style-type: none;
    padding-top: 30px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    padding: 20px;
    color: #696969;

}

.thb5{
    height:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#bcbcbd;
}
.jh7{
    width:300px;
    border-radius: 5px;
   
}
.ghr{
    font-size: x-large;
    margin-bottom: 0px;
}
.rht6{
    position: relative;
    left: 80px;
    border-radius: 5px;
}
.rgf{
    position: relative;
    left: 130px;
}
.rgi{
    position: relative;
    left: 150px;
}
.rgf:hover{
    color: blue;
}
footer{
    text-align: center;
    background-color:#bcbcbd;
}