
.fcd{
    width: 100%;
}

#ghs{
    float: left;
}
.xvb{
    width: 100%;
    height: 100px;
    background-color: #fff;
    line-height: 70px;
}
.ths{
    float:left;
    margin-left:30px;
    margin-bottom: 0px;
}
.mnb{
    display: inline-block;
    list-style-type: none;
    padding-top: 30px;
    margin: 5px;
    
}
.jhg{
    display: flex;
   height:650px;
   width: 200px;
   justify-content: center;
   align-items: center;
   margin-left: 650px;
   margin-right: 600px;
   
}
.s5{
    box-shadow: 5px 10px #b3b2b2;
}
.form_items{
    text-align: left;
    font-size: x-large;
}
.feilds{
    padding: 10px;
    border-radius:5px ;
}
.feild{
    margin-left: 40px;
}
article{
    text-align: center;
    font-size: xx-large;
}   
.imn{
    margin-left: 110px;
}
.mki{
    font-size: larger;
}
   .hty{
    margin-top: 5px;
   }
    footer{
        background-color: 84a98c;
        text-align: center;
    }
    .rxb{
        margin-top: 10px;
        margin-left: 100px;
    }
    p{
       text-align: center;
    }