body{
    background-color: black;
}
.container{
    height:90vh;
   width:100vh;
   
    border:0.5vh solid white;
    display:flex;
    flex-direction:row;
     justify-content:space-between;
   align-items:center;
    
}
.items{
    font-size:250%;
    background:#000;
    border:0.5vh solid red;
    color:white;
    height:16vh;
    aspect-ratio: 1;
}
