
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 800px;
    margin: 0;
    position: relative;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid red;
    position: relative;
    height: 75%;
    width: 75%;
}
img{
    height: 40px;
    width: 40px;
}
 .pokemon{
   position: absolute; 
 }
.one{
    top: 0;
    left: 0;
}
.two{
    top: 0;
    right: 0;
}
.three{
    bottom: 0;
    right: 0;
}
.four{
    bottom: 0;
    left: 0;
}