.book{
    border: 1px solid black;
    height: 275px;
    width: 290px;
    margin: 10px;
}
main{
    display: flex;
    flex-wrap: wrap;
    margin-top:140px;
}
p, h2, #top-heading {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2 {
    height:66px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#top-heading{
    padding: 1%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.newBook{
    position: fixed;
    text-align: center;
    display: none;
     margin-left: 38%;
    padding:5%;
    padding-top: 1%;
    padding-bottom: 6%;
    height:250px;
    background-color: rgb(5, 153, 245);
    border: 2px solid black;
    height: 100px;
    width: 200px;
}
.addBook{
    position: relative;
     left:  51%;
    bottom:67px;
    font-size: large;  
}
header {
    position: fixed;
    top: 0px;
    text-align: center;
    border: 1px solid black;
    width: 97.3%;
    margin-left: 9px;
    padding-bottom: -10px;
    background-color: rgb(247, 133, 2);
    height: 120px;
}
.checkBox {
    border: 1px solid  blue ;
    height: 20px;
    width: 20px;
    background-color: green;   
}
.checkBook {
     padding: 2px; 
    font-size: 20px;
    bottom: 8px;
    height: 50px;
    width: 50px;
    font-size:25px;
}
.lendAndTake {
    text-align: center;
    border: 1px solid red;
    margin-left: 100px;
    font-size: larger;
    padding-left:10px;
    padding-right:10px;
}
label,select {
 position: relative;
 bottom:  30px;
 left:39.2%
}
