*{
    box-sizing: border-box;
}
.container{
    height: 300px;
    aspect-ratio: 1;
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.box{
    height: 50px;
    width: 50px;
    border: 1px solid red;
    color: white;
    
}
body{
    background-color: black;
  
}