div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 146, 249);
}
.cir{
    background-color: white;
    border-radius: 60%;
}
.div1{
    margin:10vh auto;
    background-color: rgb(53, 53, 53);
    width: 50%;
    height: 80vh;
}
.div2{
    height: 98%;
    width: 98%;
}
.div3{
    width: 70%;
    height: 93%;
}
.div4{
    height: 71%;
    width: 71%;
}
.div5{
    width: 50%;
    height: 50%;
}
.div6{
    height: 40%;
    width: 40%;
}