body {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid white; */
  height: 800px;
  width: 800px;
}

.container {
  position: relative;
  height: 75%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}

.pokemon {
  position: absolute;
}

img {
  height: 50px;
  width: 50px;
}

.one {
  top: 0;
  left: 0;
}

.two {
  top: 0;
  right: 0;
}

.three {
  bottom: 0;
  right: 0;
}

.four {
  bottom: 0;
  left: 0;
}

.five {
  position: fixed;
  bottom: 0;
  left: 300px;
}
