body{
    margin: 30px auto;
    width: 800px;
    height: 700px;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    'header header header'
    'nav article article'
    'ads article article'
    'ads footer footer';
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: 80px 1fr 100px 80px;
}

.page_contents{
    background-color: lightgray;
}

#page_header{
    grid-area: header;
}

#main_article{
    grid-area: article;
}

#nav_bar{
    grid-area: nav;
}

#page_ads{
    grid-area: ads;
}

#page_footer{
    grid-area: footer;
}