*{
    margin: 0;
    padding: 0;
    line-height: 40px;
    text-align: center;
}

a{
    color: black;
    text-decoration: underline black;
    font-size: 22px;
    padding: 30px;
}

button a{
    text-decoration: none;
    border: none;
    font-size: 16px;
}
#navigationbar{
    background-color: rgb(54, 53, 53);
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


.categories{
    color: white;
    box-sizing: border-box; 
    padding: 8px;
    text-decoration: none;
    border: none;
    font-size: 25px;
}

.categories:hover{
   box-sizing: border-box; 
   background-color: black;
   padding: 8px;
}

#main_heading{
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    text-align: center;
    padding: 25px; 
}

.sub-cat{
    word-spacing: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.productbor{
   padding: 150px;
   margin-bottom: 100px;
   border: 2px solid aliceblue;
   background-color: aliceblue;
   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   align-items: center;
}

.productlist{
    padding: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.proinfo p{
    margin-bottom: 19px;
}

form label{
    height: 40px;
    width: 190px;
    font-size: large;
}

form button{
    height: 40px;
    width: 140px;
}

.sign_inbor{
    padding: 180px;
    padding-top: 0px;
    align-items: center;
    text-align: center;
}

.input-container{
    padding-top: 0px;
   display: grid;
   grid-template-columns: 200px 200px;
   margin-bottom: 40px;
}

.sign_in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 120px;
    padding-top: 40px;
    background-color: aliceblue;
    gap: 40px;
    
}

.signin_buttons{
    align-items: center;
}

form button{
    background-color: rgb(177, 244, 76);
    border: none;
    font-size: 16px;
    width: 150px;
    border-radius: 15px;
}

.cat_heading{
    border-bottom: 1.5px solid black;
    padding: 20px;
}

footer{
    border-top: 1.3px solid black;
}

.multiline{
        white-space: pre-line;
        margin: 0;
}

.signh, #PROFILE h1{
    margin: 35px;
    text-decoration: underline;
}

.other_sign{
text-align: center;
margin-bottom: 40px;
}