* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

header {
  background-color: #000;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px;
  position: sticky;
  top: 0;
  z-index: 10;
}

#websiteName span img {
  height: 25px;
  margin: 5px 5px 0px;
}

#websiteName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 12px;
}

#features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.buttonFeatures {
  border: 2px solid #999;
  padding: 10px 12px;
  cursor: pointer;
  background-color: transparent;
  color: #999;
  width: 115px;
  text-align: center;
}

#categorise {
  position: relative;
}

#dropDown {
  position: absolute;
  width: 115px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 68px;
  right: 49.5px;
}

#dropDown button {
  width: 100%;
  border: 2px solid #999;
  padding: 10px 12px;
  cursor: pointer;
  background-color: black;
  color: #999;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book {
  margin: 30px;
  width: 250px;
  height: 320px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 7px;
  font-size: 15px;
  border-radius: 4px 2px 4px 3px;
  box-shadow: -15px 0px 0px 0px #333333;
}

.bookName {
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  margin-bottom: 12px;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-around;
  align-items: center;
}

#booksShelf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  align-content: space-around;
}

.booksShelf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  align-content: space-around;
  border-bottom: 10px solid #333333;
}

.title {
  width: 100%;
  display: flex;
  margin: 45px 35px 0px;
  font-size: 30px;
  font-weight: bolder;
  border-bottom: 3px solid #777;
  height: 50px;
}

#addBooksForm {
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: none;
  position: fixed;
  top: 30%;
  left: 33.5%;
  z-index: 5;
}

#addBooksForm form div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#addBooksForm form button {
  padding: 10px 12px;
  margin: 20px;
}

#closeForm {
  cursor: pointer;
  font-weight: bolder;
  font-size: 20px;
  position: absolute;
  right: 5%;
  top: 2%;
}

#addBooksForm form input {
  border: 2px solid #000;
  height: 23px;
  border-radius: 7px;
  padding-left: 10px;
}

#addBooksForm form label {
  font-weight: bolder;
  font-size: 15px;
}

#submitForm {
  font-size: 15px;
  font-weight: bolder;
  border-radius: 4px;
}

.available {
  color: green;
  padding: 10px 12px;
  margin: 10px;
  font-size: 12px;
  border-radius: 8px;
  font-weight: bold;
  width: 90px;
  background-color: transparent;
}

.unavailable {
  color: red;
  padding: 10px 12px;
  margin: 10px;
  font-size: 12px;
  border-radius: 8px;
  font-weight: bold;
  width: 90px;
  background-color: transparent;
}

.buttonsContainer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lendButton {
  position: relative;
  right: 75px;
  top: 19px;
  padding: 10px 0px;
  margin: 10px;
  font-size: 12px;
  border-radius: 0px 5px 0px 0px;
  font-weight: bold;
  width: 100px;
  background-color: transparent;
  border-bottom: none;
}

.availableButton {
  position: relative;
  left: 100px;
  top: 5%;
  padding: 10px 12px;
  margin: 10px;
  font-size: 12px;
  border-radius: 10px 0px 0px 10px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.categorisedBooks {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
}