
*
{
    box-sizing: content-box;
}
body
{
    background-color: black;
    color: white;
}

.container
{
    display: flex;
    background-color:rgb(57, 116, 226);
    aspect-ratio: 1;
    height: 650px;
    margin: 20px;
}
.square
{
    display: flex;
    background-color:rgb(57, 116, 226);
    border:10px;
    padding:100px;
    aspect-ratio: 1;
    height: 240px;
    margin-bottom: 30px;
}
.square1
{
    display: flex;
    background-color:rgb(57, 116, 226);
    border:10px;
    padding:50px;
    aspect-ratio: 1;
    height: 50px;
    margin-bottom: 20px;
}
.circle
{
    padding: 85px;
    height: 450px;
    aspect-ratio: 1;
    margin: 20px;
    display: flex;
    background-color:white;
    border-radius: 50%;
}
.circle1
{
    padding: 55px;
    height: 150px;
    aspect-ratio: 1;
    margin-bottom: 30px;
    display: flex;
    background-color:white;
    border-radius: 50%;
}
