.header{
  text-align: center;
  background-color: black;
  color: white;
  font-size: xx-large;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border: 2px rgb(255, 169, 9) solid;
}
.container{
    display:grid;
    grid-template-columns: 50% 50%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16PX;
}
.item{
    margin-top: 60px;
    margin-left: 40px;
}
.icon{
    height: 60px;
    width: auto;
    border: 2px black solid;
    border-radius: 25ch;
    
}
.pic{
   
    height:auto;
    max-width:100%;
}
h1{
margin-top: 40px;
margin-bottom: 0px;
letter-spacing: -.2px;
}
h2{
    color: rgb(179, 179, 179);
margin-top: 10px;    

}
.navigation{
    float: right;
height: 15px;
width: 10%;
text-decoration: none;
text-align: center;
padding: 20px;
padding-right: 25px;
color: black;
}
#signup{
    background-color: black;
    color: white;
    border-radius: 25ch;
}
.ourlocation{
    width: 70%;
    height: 25px;
    border-color: grey;
    margin: 20px auto auto 0px;
    padding: 5px;
    font-size:18px !important;
}
.findfood{
    cursor: pointer;
    height: 39px;
    font-weight: 600;
    font-size: 15px;
    background-color: rgb(128, 87, 71);
    color: white;
}
.cities{
    color: rgb(179, 179, 179);
    letter-spacing: -.6px;
}
.citieslist{
    width: 570px;
    list-style: none;
    margin-top: 20px;
}
.odd,.even{
    font-weight: 700;
    font-size:16px;
    margin-right: 10px;
    color: rgb(175, 175, 175);
    line-height: 1.5;
    letter-spacing: -.4px;
    text-decoration: none;
}
.even{
    color: rgb(41, 41, 41);
}
.information{
    padding-left: 170px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2b1e16;
}
h3{
    color: white;
    letter-spacing: -.2px;
    padding-right: 50px;
}
.bottom{
    width: 300px;
    text-align: center;
    color: rgb(255, 255, 255);
    
}
.cart{
    text-align: center;
    color: black;
}
