.icon{
    height: 60px;
    width: auto;
    border: 2px black solid;
    border-radius: 25ch;
    
}     
.bg1{
  border: 2px solid black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  letter-spacing: -.3;
  border-radius: 25ch;
  padding: 5px;
}

.bg2{
    text-align: center;
  margin-left: 500px;
  margin-right: 500px;
  background-color: rgb(163, 228, 228);
  border: 3px black dashed;
  border-radius: 50%;
}

.input{
  border:2px black solid;
  border-radius: 25ch;
  
}
#back{
        background-color: black;
        color: whitesmoke;
        border: 2px solid;
        text-decoration: none;
        border-radius: 25ch;
        padding: 5px;
        letter-spacing: -.3px;
        font-family:Arial, Helvetica, sans-serif ;
                
}
.header{
  text-align: center;
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: xx-large;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border: 2px rgb(255, 169, 9) solid;
}
